.btn {
    animation: moveFromBottom .8s backwards ease 1.1s;
    color: $color-text-light;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 4rem;
    border-radius: 999px;
    transition: all .3s;
    width: 26rem;
    text-align: center;
    
    &--main-color {
        background: $btn-color;
        &::after {
            background: $btn-color;
        }
    }
    
    &:hover {
        transform: translate(-50%, -.4rem);
        box-shadow: 0 1rem 2rem .4rem rgba(0, 0, 0, 0.294);
        
        &::after {
            transform: translate(-50%, -50%) scale(1.5);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translate(-50%, -.2rem) scale(.98);
        box-shadow: 0 .5rem 2rem .4rem rgba(0, 0, 0, 0.178);
    }

    &::after {
        content: "";
        
        height: 5.7rem;
        width: 100%;
        padding: 2rem 4rem;
        border-radius: 999px;
        @include absolute-centering;
        opacity: 1;
        transition: all .4s;
        z-index: -1;
    }   
}