.heading-primary {
    display: block;
    

    &--main {
        margin-bottom: 1rem;
        animation: moveInLeft 1.5s ease;
    }

    &--sub {
        margin-bottom: 1rem;
        animation: moveInRight 1.5s ease;

        &__content {
            display: block;
        }
    }
}