.about {
    background-color: var(--color-primary);
    min-height: 150vh;

    // margin-top: 58px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &__header {

    }

    &__heading-box {
        position: relative;
    }

    &__text-area {
        position: relative;
        top: -150px;

        width: 100%;
        height: 500px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__img-box {
        // background-color: lightgreen;
        width: 30%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;
    }

    &__img {
        border-radius: 5px;
        width: 450px;
        position: relative;
        bottom: -200px;
    }

    &__text-box {
        color: var(--color-secondary-opposite);
        width: 500px;
        text-align: center;
    }

    &__tertiary-heading {
        font-size: 3rem;

        display: inline-block;

        position: relative;

        margin-bottom: 10px;

        &::before {
            content: "";

            background-color: #ff0000;

            position: absolute;

            bottom: 0; 

            width: 100%;
            height: 1px;

        }
    }

    &__text {
        text-align: left;
        font-size: 2.2rem;
    }
}