.about {
    background-color: var(--color-primary);
    min-height: 180vh;

    // margin-top: 58px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &__header {

    }

    &__heading-box {
        position: relative;
    }

    &__text-area {
        position: relative;
        top: -70px;

        width: 100%;
        height: 500px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__img-box {
        // background-color: lightgreen;
        width: 30%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;
    }

    &__img {
        border-radius: 5px;
        width: 420px;
        position: relative;
        bottom: -200px;
    }

    &__text-box {
        color: var(--color-secondary-opposite);
        width: 500px;
        text-align: center;
    }

    &__tertiary-heading {
        font-size: 3rem;

        display: inline-block;

        position: relative;

        margin-bottom: 10px;

        &::before {
            content: "";

            background-color: #ff0000;

            position: absolute;

            bottom: 0; 

            width: 100%;
            height: 1px;

        }
    }

    &__text {
        text-align: left;
        font-size: 2.2rem;
    }

    &__statistics-area {
        // background: lightblue;
        display: flex;
        justify-content: space-around;

        position: relative;

        width: 100%;
    }

    &__statistic-box {
        // background-color: rgb(95, 114, 199);
        color: var(--color-secondary-opposite);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        &:not(:last-of-type) {
            &::before {
                content: "";

                border-radius: 999px;   

                width: 2px;
                height: 40px;

                background-color: #ff0000;

                position: absolute;
                top: 31%;
                left: calc(100% + 15px);
            }
        }
        
        &:nth-of-type(1) {
            &::before {
                left: calc(100% + 27px);
            }
        }
    }
    
    &__statistic {
        font-size: 140px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__symbol {
        font-size: 60px;

        &--plus {
            font-size: 100px;
        }

        &--porcentage {
            position: relative;
            bottom: -17px;
            font-size: 65px;
        }
    }

    &__number {
    }

    &__statistic-title {
        font-size: 2.5rem;
    }

    &__statistic-about {
        font-size: 1.3rem;
        text-align: center;
        max-width: 70%;
    }
}