.evaluations {
    background-color: #000;

    min-height: 100vh;
    max-width: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;

    .swiper-container {
        height: 48rem;
        -webkit-box-reflect: below 1px linear-gradient(transparent 80%, black);
        cursor: none !important;

    }
    
    // .swiper-wrapper {

    // }

    .swiper-slide {
        background-color: transparent;
        background-position: center;
        background-size: cover;
        width: 32rem;
        height: 90%;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2.5rem;
        perspective: 9999px;
    }

    .swiper-slide-shadow-left, 
    .swiper-slide-shadow-right {
        background-image: none;
    }

    .card {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: #222;
        text-align: center;
        overflow: hidden;
        border-radius: 5px;
    }

    .layer {
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(lightblue, white);
        z-index: 1;
        transition: .5s;
    }

    .card:hover .layer {
        top: 0;
    }
    
    .content {
        background-color: transparent;
        position: relative;
        
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        z-index: 2;
        p {
            font-size: 18px;
            color: #eee;
            line-height: 24px;
            margin: 30px 0 30px 0;
            padding: .5rem;
        }

        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid grey;
            width: 100px;
            height: 100px;

            img {
                background: #87BDD3;
                width: 100%;
    
                &.tom {
                    width: 150%;
                }
            }
        }

        h2 {
            font-size: 18px;
            color: white;

            span {
                color: lightblue;
                font-feature-settings: 14px;
                transition: .5s;
            }
        }
    }

    .card:hover .content h2 span {
        color: blue;
    }
}