.faq {
    background-color: var(--color-primary);
    padding-top: 4rem;

    height: auto;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 760px) {
        &__question {
            font-size: 2.6rem !important;
        }

        &__answer {
            font-size: 2.3rem !important;
        }
    }

    &__header-box {
        text-align: right;

        width: 100%;
    }

    // &__header {

    // }

    &__content-box {
        // background-color: lightgreen;
        margin-top: 6rem;

        max-width: 100%;

        &:hover .faq__questions-and-answers-box {
            width: 100%;
        }
    }

    &__questions-and-answers-box {
        border-radius: 5px;
        padding: 3rem 5rem 6rem 5rem;
        
        transform: translateY(30px) scale(.5);
        transform-origin: center;
        opacity:0;
        
        transition: opacity .8s,
                    transform .9s ease,
                    background-color .3s ease-in !important;

        &.in,
        &.already-animated {
            transform: translateY(0) scale(1);
            opacity:1;
            transform-origin: center;
            
            & .faq__question-and-answer-box {
                opacity: 1;
                
                &:nth-of-type(1) {
                    transform: translateY(0) scale(1);

                    transition: opacity .5s .0s ease-in,
                                transform .8s .0s ease-out,
                                height .5s,
                                background-color .3s ease-in !important;
                                ;
                            }
                
                &:nth-of-type(2) {
                    transform: translateY(0) scale(1);
                    
                    transition: opacity .5s .3s ease-in,
                                transform .8s .3s ease-out,
                                height .5s,
                                background-color .3s ease-in !important;
                }
                
                &:nth-of-type(3) {
                    transition: opacity .5s .6s ease-in,
                                transform .8s .6s ease-out,
                                height .5s,
                                background-color .3s ease-in !important;

                    transform: translateY(0) scale(1);
                }
                
                &:nth-of-type(4) {
                    transition: opacity .5s .9s ease-in,
                                transform .8s .9s ease-out,
                                height .5s,
                                background-color .3s ease-in !important;

                    transform: translateY(0) scale(1);
                }
                &:nth-of-type(5) {
                    transition: opacity .5s 1.2s ease-in,
                                transform .8s 1.2s ease-out,
                                height .5s,
                                background-color .3s ease-in !important;

                    transform: translateY(0) scale(1);
                }
                &:nth-of-type(6) {
                    transition: opacity .5s 1.5s ease-in,
                                transform .8s 1.5s ease-out,
                                height .5s,
                                background-color .3s ease-in !important;

                    transform: translateY(0) scale(1);
                }
            }
        }
    }
    
    &__question-and-answer-box {
        background-color: var(--color-secondary);
        margin-bottom: 2rem;
        
        @media only screen and (max-width: $fourth-breakpoint) {
            &:not(:last-of-type) {
                margin-bottom: 8rem;
            }
        }
        padding: 2rem 0;
        
        position: relative;

        opacity: 0;
        height: 7.7rem;
        overflow: hidden;

        transform: translateY(50px) scale(.8);

        &::before {
            content: "";
            border-radius: 999px;
            background-color: #ff0000;

            position: absolute;
            bottom: 0;

            height: 1px;
            width: 100%;
        }

        &--lines-3 {
            &:hover {
                height: 17.5rem !important;
            }
        }

        &:hover {
            height: 14.5rem;

            & .faq__arrow {
                transform: rotate(225deg);
            }
        }

        @media (max-width: 1288px) {
            &:nth-of-type(4) {
                height: 7.5rem;
                &:hover {
                    height: 17.5rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 1016px) {
            &:nth-of-type(3) {
                height: 7.5rem;
                &:hover {
                    height: 19rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 865px) {
            &:nth-of-type(2) {
                height: 10rem;
                &:hover {
                    height: 20.5rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(5) {
                height: 7.6rem;
                &:hover {
                    height: 18rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 805px) {
            &:nth-of-type(2) {
                height: 7.5rem;
                &:hover {
                    height: 17rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 765px) {
            &:nth-of-type(1) {
                height: 7.8rem;
                &:hover {
                    height: 17.6rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(2) {
                height: 7.8rem;
                &:hover {
                    height: 19rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 7.6rem;
                &:hover {
                    height: 20rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(4) {
                height: 8rem;
                &:hover {
                    height: 19rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 660px) {
            &:nth-of-type(5) {
                height: 7.9rem;
                &:hover {
                    height: 19rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 630px) {
            &:nth-of-type(2) {
                height: 8.3rem;
                &:hover {
                    height: 23rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 7.6rem;
                &:hover {
                    height: 24rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(4) {
                height: 8rem;
                &:hover {
                    height: 21.8rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 567px) {
            &:nth-of-type(1) {
                height: 11rem;
                &:hover {
                    height: 25rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 7.6rem;
                &:hover {
                    height: 29rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 555px) {
            &:nth-of-type(3) {
                height: 11rem;
                &:hover {
                    height: 29rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 510px) {
            &:nth-of-type(2) {
                height: 11.5rem;
                &:hover {
                    height: 29rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 11rem;
                &:hover {
                    height: 32rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 490px) {
            &:nth-of-type(4) {
                height: 8rem;
                &:hover {
                    height: 26rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(5) {
                height: 7.9rem;
                &:hover {
                    height: 22rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 457px) {
            &:nth-of-type(5) {
                height: 11.5rem;
                &:hover {
                    height: 26rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 445px) {
            &:nth-of-type(1) {
                height: 11rem;
                &:hover {
                    height: 29rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(2) {
                height: 11rem;
                &:hover {
                    height: 31.5rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 11rem;
                &:hover {
                    height: 37rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(4) {
                height: 8rem;
                &:hover {
                    height: 29rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 415px) {
            &:nth-of-type(5) {
                height: 11.5rem;
                &:hover {
                    height: 30rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 389px) {
            &:nth-of-type(4) {
                height: 11.5rem;
                &:hover {
                    height: 33rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 375px) {
            &:nth-of-type(3) {
                height: 11rem;
                &:hover {
                    height: 42rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 360px) {
            &:nth-of-type(1) {
                height: 11rem;
                &:hover {
                    height: 32rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(2) {
                height: 11rem;
                &:hover {
                    height: 35.5rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(4) {
                height: 11.5rem;
                &:hover {
                    height: 37rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 340px) {
            &:nth-of-type(2) {
                height: 15rem;
                &:hover {
                    height: 44rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 15rem;
                &:hover {
                    height: 45.5rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(4) {
                height: 11.5rem;
                &:hover {
                    height: 39rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(5) {
                height: 11.5rem;
                &:hover {
                    height: 33rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 330px) {
            &:nth-of-type(1) {
                height: 15rem;
                &:hover {
                    height: 39.7rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 15rem;
                &:hover {
                    height: 49rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 301px) {
            &:nth-of-type(5) {
                height: 14.6rem;
                &:hover {
                    height: 37rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
        @media (max-width: 290px) {
            &:nth-of-type(1) {
                height: 15rem;
                &:hover {
                    height: 43rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(3) {
                height: 15rem;
                &:hover {
                    height: 51rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
            &:nth-of-type(4) {
                height: 11.5rem;
                &:hover {
                    height: 42rem !important;
                }

                .faq__arrow {
                    top: 26px;
                }
            }
        }
    }

    &__question-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-left: 2.2rem;
    }
    
    &__question {
        color: var(--color-secondary-opposite);
        display: inline-block;
        
        position: relative;
        
        font-size: 2.4rem;
        font-weight: 1000;
        max-width: 83%;
    }

    &__arrow {
        margin: 0 0 0 2rem;
        
        height: 1.1rem;
        width:  1.1rem;
        
        display: inline-block;

        position: absolute;
        right: 45px;
        top: 25px;

        border-bottom: 1px solid var(--color-primary-opposite);
        border-right: 1px solid var(--color-primary-opposite);
        
        transform: rotate(45deg);
        // transform-origin: 3rem -1.4rem;
        transform-origin: center;

        transition: transform .5s,
                    opacity .5s !important;
    }
    
    
    &__answer-box {
        display: flex;
        justify-content: flex-start;
        padding: 1.9rem 2.5rem 7rem 2.2rem;
    }

    &__answer {
        color: var(--color-secondary-opposite);
        font-size: 2rem;
        letter-spacing: 1px;

        width: 100%;
        max-width: 90%;
        text-align: justify;
    }

    &__link {
        &,
        &:link,
        &:visited {
          text-transform: lowercase !important;  
        }
    }
}