.faq {
    background-color: $background-color-faq;
    padding-top: 4rem;

    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // &__header-box {

    // }

    // &__header {

    // }

    &__content-box {
        margin-top: 6rem;

        max-width: 85%;

        &:hover .faq__questions-and-answers-box {
            width: 100%;
        }
    }

    &__questions-and-answers-box {
        background-color: #222;
        border-radius: 5px;
        padding: 3rem 5rem 6rem 5rem;

        transform: translateY(30px) scale(.5);
        transform-origin: center;
        opacity:0;

        transition: opacity .8s,
                    transform .9s ease;

        &.in,
        &.already-animated {
            transform: translateY(0) scale(1);
            opacity:1;
            transform-origin: center;

            & .faq__question-and-answer-box {
                opacity: 1;

                &:nth-of-type(1) {
                    transition: opacity .9s .8s ease-in,
                        height .5s;
                }

                &:nth-of-type(2) {
                    transition: opacity .9s 1s ease-in,
                        height .5s;
                }

                &:nth-of-type(3) {
                    transition: opacity .9s 1.2s ease-in,
                        height .5s;
                }

                &:nth-of-type(4) {
                    transition: opacity .9s 1.4s ease-in,
                        height .5s;
                }
            }
        }
    }

    &__question-and-answer-box {
        padding: 2rem 0;

        position: relative;

        opacity: 0;
        height: 7.9rem;
        overflow: hidden;

        transition: opacity .8s,
        height .5s;

        &::before {
            content: "";
            border-radius: 999px;
            background-color: #990C0C;

            position: absolute;
            bottom: 0;

            height: 2px;
            width: 100%;
        }

        &.lines-3 {
            &:hover {
                height: 17.8rem;
            }
        }

        &:hover {
            height: 14.5rem;

            & .faq__arrow {
                transform: rotate(45deg);
            }
        }
    }

    &__question-box {
        padding-bottom: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__arrow {
        margin: 0 0 0 2rem;

        height: 2rem;
        width: 2rem;

        display: inline-block;

        position: relative;
        top: -6px;

        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;

        transform: rotate(-45deg);
        // transform-origin: 3rem -1.4rem;
        transform-origin: right;
        transition: all .5s;
    }

    &__question {
        color: #ddd;
        display: inline-block;

        position: relative;
        top: -2px;

        font-size: 3rem;
    }

    &__answer-box {
        display: flex;
        justify-content: flex-start;
    }

    &__answer {
        color: #ddd;
        font-size: 2rem;
        letter-spacing: 1px;


        width: 100%;
    }

    &__link {

        &,
        &:link,
        &:visited {
            color: #ddd;
            text-decoration: none;

            position: relative;

            &::before {
                content: "";

                background-color: #ddd;
                border-radius: 999px;

                position: absolute;
                bottom: 0px;

                width: 100%;
                height: 2px;
            }
        }
    }
}