.header {
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__content-box {
        // background-color: lightgreen;
        height: 85vh;

        display: flex;
        flex-direction: column;
    }
    
    &__introduction {
        height: 100%;
        // background-color: rgb(211, 58, 58);

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__text-box,
    &__img-box {
        // width: 50%;
        // height: 100%;

        // position: relative;
    }
    
    &__text-box {
        background-color: #aaa;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__main-heading {
        color: #eee;
        width: 100%;
        font-size: 15rem;
        font-family: 'aeonik';
        
        top: 40%;
        left: 65%;
        transform: translate(-50%, -50%);
        
        z-index: 10;
        position: absolute;
    }
    
    &__img-box {
        display: none;
    }
    
    // &__img {
    //     height: 40rem;
    //     position: relative;
    //     top: 3rem;
    //     // border: 8px solid #111;

    //     box-shadow: -3px 8px 12px #00000088;
    //             //    -3px -3px 10px #7472725b;

    //     border-right: none;
    //     border-top-left-radius: 999px;
    //     border-bottom-left-radius: 999px;
    //     // height: 0rem;
    //     background-color: #fff;
    //     background: var(--color-dark-2) url("../../media/images/black-car-6-d.jpg") no-repeat;
    //     background-size: cover;
    //     background-position: center;
    // }
    
    &__contact-box {
        height: 50%;
        // background-color: rgb(58, 168, 211);

        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button-area {
        width: 50%;
        height: 100%;
        position: relative;
        // background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    &__button {
        background-color: #ddd;
        border: 1px solid black;

        margin-top: 50px;
        height: 60px;
        width: 190px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__button-text {

    }

    &__button-arrows-box {
        
    }

    &__icons-area {
        // background:#666;
        width: 50%;
        height: 100%;

        opacity: 0;

        position: relative;
    }

    &__icons-box {
        // background-color: #444;
        position: absolute;
        width: 7rem;
        bottom: 10px;
        right: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}