.performance {
    // max-height: 850px;
    // height: 830px;
    height: auto;
    // min-height: 650px;

    background-image: linear-gradient(var(--gradient-performance-image)), url(../../media/images/car-portrait.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 680px) {

        &__informations-box {
            flex-direction: column;
            // position: relative;
            // bottom: 16rem;
            margin-top: 14rem;
            margin-bottom: 10rem;
        }

        &__information-box {
            &:not(:last-of-type) {
                margin-bottom: 8rem;
            }
        }
    }

    &__header-box {
        // background-color: lightblue;
        margin-top: 5rem;
        
        height: 30%;
    }

    // &__header {
    // }
    
    &__informations-box {
        height: 70%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        // margin-bottom: 3rem;
    }

    &__information-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__icon-box {
        border: 1px solid var(--color-transparent-opposite-2);
        border-radius: 999px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 4rem;

        height: 12rem;
        width:  12rem;

        transition: border ease-out .2s;
    }

    &__icon {
        fill: var(--color-primary-opposite);
        

        height: 5rem;
        width:  5rem;

        padding: 04px;
    }

    &__numbers-box {
        font-size: 6rem;
        font-family: 'nunito-regular';
        font-weight: 1000;

        color: var(--color-primary-opposite);

        display: flex;
        justify-self: center;
        align-items: center;

    }

    &__counter {
        transition: color ease-out 0ms !important;
    }

    &__signal {
        color: var(--color-primary-opposite);
        
        &--plus {
            font-size: 5rem;
        }

        &--percentage {
            font-size: 4rem;
            transform: translateY(15%);
        }
    }
    
    &__text {
        text-transform: uppercase;
        font-family: 'nunito-regular';
        font-weight: 1000;
        letter-spacing: 3px;
        font-size: 2rem;
        color: var(--color-primary-opposite);
    }
}