.services {
    height: auto;
    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    &::before,
    &::after {
        content: "";

        position: absolute;

        height: 100%;
        width: 100%;
    }

    // &::before {
    //     background: radial-gradient(#000000, #ff0000);
    //     clip-path: circle(20% at left 45%);
        
    //     display: none;

    //     top: 0;
    //     left: 0;
    // }

    &::before {
        background: linear-gradient(to right bottom, #f00, #eb4848);
        clip-path: circle(26% at center 54%);

        display: none;

        top: 0;
        left: 0;
    }


    &__header {
        margin-top: 3.5rem;

        width: 100%;

        position: relative;
        z-index: 1;
    }

    &__content-box {
        // background-color: wheat;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        z-index: 1;
    }

    &__cards-box {
        padding: 8rem 0rem 5rem 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__cards-row {
        display: flex;
        flex-wrap: wrap;
        
        &--1 {
            justify-content: space-around;
        }
        
        &--2 {
            justify-content: center;
        }
    }

    &__card {
        background: linear-gradient(to right, #00000060, #00000060), url(../../media/images/gay-working.jpg);
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border-top: 1px solid #fff3;
        border-bottom: 1px solid #fff3;


        overflow: hidden;

        --margin: 6rem;
        margin: 0 var(--margin) var(--margin) var(--margin);

        width: calc(33.3% - var(--margin) * 2);
        min-width: 250px;
        height: 25rem;

        transform-style: preserve-3d;
        transform: perspective(1000px);
        
        &__content {
            height: 100%;
            
            padding: 0 2rem;
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
            transform-style: preserve-3d;

        }

        &__title {
            color: rgb(255, 255, 255);


            font-size: 3rem;
            font-weight: 700;

            transform: translateZ(10px);
            transform-style: preserve-3d;
        }

        &__text {
            color: white;
            font-size: 1.6rem;
            font-weight: 800;

            opacity: 0;
            transform: translateY(25px) translateZ(10px);
            transform-style: preserve-3d;
            transition: .5s;
        }
        
        &__link {
            &,
            &:link,
            &:visited {
                background-color: #fff;
                border-radius: 999px;
                
                color: black;
                font-weight: 1000;
                font-size: 1.6rem;

                padding: .6rem 3rem;
                
                opacity: 0;
                transform: translateY(20px) translateZ(10px);
                transform-style: preserve-3d;
                transition: .5s;

                &:hover {
                    background-color: #ff0000;
                    color: white;
                }
            }
        }
        
        &:hover &__link,
        &:hover &__text {
            opacity: 1;
            transform: translateY(0px) translateZ(10px);
            transform-style: preserve-3d;
        }
    }
}