.services {
    background-color: #111111;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__header {
        position: relative;
        // background-color: #333;
    }

    &__heading-box {
        text-align: right;
    }

    &__content-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__content-box-text {
        // background-color: #ff0000;

        opacity: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        width: 22%;

        height: 100%;

    }
    
    &__numbers-box {
        pointer-events: none;
    }
    
    &__type-box {
        pointer-events: none;
        // background-color: red;
        position: relative;
        top: -120px;
    }

    &__see-services-box {
        position: relative;
        top: -70px;
        left: -90px;
    }
    
    &__carousel {
        // width: 20px;
    }
}