.contact-section {
    min-height: $height-contact-section;
    height: 100vh;
    background: $background-color-contact-section;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &__text-box {
        text-align: center;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -0%);

        // h2 {
        //     color: $color-tertiary;
        //     font-size: 5rem;
        //     text-transform: capitalize;
        // }
        
        // h3 {
            
        // }

    }
}