.evaluations-section {
    min-height: $height-section;
    background: rgb(193, 219, 228);

    position: relative;

    &__text-box {
        text-align: center;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -0%);

        h2 {
            font-size: 5rem;
            text-transform: capitalize;
        }
        
        p {
            font-size: 3rem;
        }
    }
}