.evaluations-section {
    min-height: $height-evaluations-section;
    height: 100vh;
    background: $background-color-evaluations-section;

    position: relative;

    &__text-box {
        text-align: center;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -0%);

        z-index: 10;

        h2 {
            color: $color-tertiary;
            font-size: 5rem;
            text-transform: capitalize;
        }
        
        h3 {
            color: $color-tertiary;
            font-weight: 400;
            font-size: 3rem;
        }
    }

    &__shadow {
        height: 35rem;
        width: 70rem;

        border-top-right-radius: 35px;
        // border-bottom-left-radius: 35px;

        position: absolute;

        right: 24rem;
        bottom: 5rem;

        filter: blur(9px);

        background-color: rgba(0, 0, 0, 0.157);
    }
}