.navigation {
    &__checkbox {
        // display: none;
        
        &:checked ~ .navigation__button-box .navigation__icon {
            background-color: #000;

            transition: background-color .5s cubic-bezier(0.97, 0.12, 0.7, 1.5),
            width .3s .5s cubic-bezier(0, 0.8, 0.9, 1),
            margin-bottom .3s .1s,
            transform .3s .4s;

            &--1 {
                margin-bottom: -1px;
                transform: rotate(45deg);
            }
            
            &--2 {
                width: 100%;
                transform: rotate(-45deg);
            }
        }

        &:checked ~ .navigation__button-box .navigation__button-background {
            transform: translate(50%, -50%) scale(1);
        }
    }

    &__button-box {
        // background-color: red;
        
        position: absolute;
        right: 4rem;
        top: 3rem;
        
        height: 7.5rem;
        width: 7.5rem;
    }
    
    &__button {
        // background-color: green;
        border-radius: 50%;
        height: 7.5rem;
        width: 7.5rem;

        position: fixed;

        display: inline-block;

        overflow: hidden;
        z-index: 5;

        &:hover {
            cursor: pointer;
        }

        &:hover .navigation__button-background {
        transform: translate(50%, -50%) scale(1);
        }

        &:hover .navigation__icon {
            background-color: #000;

            &--2 {
                width: 100%;
            }
        }
    }

    &__button-background {
        background: #eee;
        border-radius: 999px;

        position: absolute;
        top: -.5rem;
        right: -.5rem;
        transform: translate(50%, -50%) scale(0);

        height: 20rem;
        width: 20rem;

        z-index: -1;
        transition: all .5s cubic-bezier(0.97, 0.12, 0.7, 1.5);
    }

    &__icon-box {
        // background-color: red;
        width: 60%;
        height: 50%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    &__icon {
        background-color: #eee;
        border-radius: 999px;
        height: 2px;

        transform: rotate(0);
        
        transition: background-color .5s cubic-bezier(0.97, 0.12, 0.7, 1.5),
                    width .3s .7s cubic-bezier(0, 0.8, 0.9, 1),
                    margin-bottom .3s .4s,
                    transform .3s .1s;
        
        &--1 {
            margin-bottom: 8px;
            width: 100%;
        }
        
        &--2 {
            width: 80%;
        }
    }

    &__background {
        &--1 {

        }

        &--2 {

        }
    }

    &__nav {

    }

    &__list {
        &--services {

        }

        &--see-also {

        }
    }

    &__item {

    }

    &__link {

    }
}