.navigation {
    position: absolute;

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $background-color-navigation-button;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 5001;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.253);
        text-align: center;
        outline: none;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background: radial-gradient($color-secondary 40%, $color-primary);
        z-index: 5000;

        transition: transform .8s cubic-bezier(0.85, 0, 0.15, 1);
        transform: scale(0);
    }
    
    &__nav {
        height: 100vh;
        min-height: 68rem;
        position: fixed;
        top: 0;
        left: -30rem;
        z-index: 5000;
        opacity: 0;
        width: 10%;

        transition: all 0.8s cubic-bezier(.68, -.55, .27, 1.55);
    }

    &__list {
        width: 100%;
        height: 65%;
        @include absolute-centering;
        list-style: none;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // &__item {
        
    // }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 4rem;
            font-weight: 100;
            color: $color-tertiary;
            text-transform: uppercase;
            padding: 1.5rem 3rem;
            text-decoration: none;
            background: linear-gradient(120deg, transparent 50%, white 50%);
            background-size: 225%;
            transition: all .4s;
        }

        span {
            padding-right: 1rem;
            display: inline-block;
        }

        &:hover,
        &:active {
            background-position: 100%;
            transform: translateX(1.8rem);
        }
    }

    &__checkbox:checked~&__background,
    .bg-show {
        transform: scale(60);
    }

    &__checkbox:checked~&__nav {
        left: 0;
        opacity: 1;
        width: 100%;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        left: -4px;
        width: 2rem;

        &,
        &::before,
        &::after {
            height: 2px;
            background-color: black;
            display: inline-block;
            border-radius: 100rem;
            transition: transform .25s,
                        background-color .1s,
                        top .1s,
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            width: 1rem;
            top: -.8rem;
        }

        &::after {
            top: .8rem;
            width: 3rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked ~ &__button {
        background: $background-color-navigation-button;
    }

    &__checkbox:checked~&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked~&__button &__icon::before {
        width: 3rem;
        background-color: $background-color-close-menu;
        top: -1px;
        left: -1px;
        transform: rotate(-135deg);
    }
    
    &__checkbox:checked~&__button &__icon::after {
        background-color: $background-color-close-menu;
        top: -1px;
        left: -1px;
        transform: rotate(135deg);
    }
}