.whatsapp-call {
    position: fixed;
    right: 6.3rem;
    bottom: 4rem;
    display: inline-block;
    background-color: rgb(92, 209, 127);
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.63),
                inset 0 1rem 2rem rgba(255, 255, 255, .2);

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        fill: white !important;
    }

    &:hover {
        animation: increase-decrease 1.5s infinite ease;
    }
    
    // &.animate {
    //     animation: increase-decrease 1.5s 2s ease;
    // }
}