@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translate(-50%, 2rem) scale(0); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1); } }

@keyframes scroll-down {
  from {
    opacity: 0;
    transform: translate(-50%, -160%); }
  to {
    opacity: 1;
    transform: translate(-50%, 50%); } }

@keyframes flag-down-up {
  from {
    opacity: 0;
    transform: translateY(-50%) rotate(45deg); }
  to {
    opacity: 1;
    transform: translateY(50%) rotate(45deg); } }

@keyframes show-hidde {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes increase-decrease {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  animation: moveFromBottom .8s backwards ease 1.1s;
  color: white !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 4rem;
  border-radius: 999px;
  transition: all .3s;
  width: 26rem;
  text-align: center; }
  .btn--main-color {
    background: #7A98DB; }
    .btn--main-color::after {
      background: #7A98DB; }
  .btn:hover {
    transform: translate(-50%, -0.4rem);
    box-shadow: 0 1rem 2rem 0.4rem rgba(0, 0, 0, 0.294); }
    .btn:hover::after {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0; }
  .btn:active {
    transform: translate(-50%, -0.2rem) scale(0.98);
    box-shadow: 0 0.5rem 2rem 0.4rem rgba(0, 0, 0, 0.178); }
  .btn::after {
    content: "";
    height: 5.7rem;
    width: 100%;
    padding: 2rem 4rem;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .4s;
    z-index: -1; }

.heading-primary {
  display: block; }
  .heading-primary--main {
    margin-bottom: 1rem;
    animation: moveInLeft 1.5s ease; }
  .heading-primary--sub {
    margin-bottom: 1rem;
    animation: moveInRight 1.5s ease; }
    .heading-primary--sub__content {
      display: block; }

.message-options-box {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; }

.message-option {
  background-color: #fff;
  height: 40rem;
  width: 33rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.116);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all .5s; }
  .message-option:not(:nth-of-type(2)) {
    margin-right: 5rem; }
  .message-option:hover {
    transform: scale(1.1); }
  .message-option--whatsapp {
    transform: scale(1.1);
    order: 2; }
  .message-option--facebook {
    order: 1;
    transform: scale(0.9); }
  .message-option--instagram {
    order: 3;
    transform: scale(0.9); }
  .message-option--email {
    order: 3;
    transform: scale(0.9); }
  .message-option--facebook:hover ~ .message-option--whatsapp {
    transform: scale(0.9) !important;
    order: 2; }
  .message-option--email:hover ~ .message-option--whatsapp {
    transform: scale(0.9) !important;
    order: 2; }
  .message-option__color-on-top {
    height: .7rem;
    width: 100%;
    position: absolute;
    top: 0; }
    .message-option__color-on-top--whatsapp {
      background: #8ee08e; }
    .message-option__color-on-top--facebook {
      background: #6b96db; }
    .message-option__color-on-top--instagram {
      background: #dd357b; }
    .message-option__color-on-top--email {
      background: #ffcc5d; }
  .message-option__svg--whatsapp {
    fill: #8ee08e !important; }
  .message-option__svg--facebook {
    fill: #6b96db !important; }
  .message-option__svg--instagram {
    fill: #dd357b !important; }
  .message-option__svg--email {
    fill: #ffcc5d !important; }
  .message-option__text {
    margin: 0 auto;
    width: 90%;
    color: #8189A9;
    text-align: center;
    font-size: 2rem; }
  .message-option__btn {
    height: 4.5rem;
    width: 80%;
    border-radius: 999px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s; }
    .message-option__btn:hover {
      color: white; }
    .message-option__btn--whatsapp {
      border-color: #8ee08e;
      color: #8ee08e; }
      .message-option__btn--whatsapp:hover {
        background-color: #8ee08e; }
    .message-option__btn--facebook {
      border-color: #6b96db;
      color: #6b96db; }
      .message-option__btn--facebook:hover {
        background-color: #6b96db; }
    .message-option__btn--instagram {
      border-color: #dd357b;
      color: #dd357b; }
      .message-option__btn--instagram:hover {
        background-color: #dd357b; }
    .message-option__btn--email {
      border-color: #ffcc5d;
      color: #ffcc5d; }
      .message-option__btn--email:hover {
        background-color: #ffcc5d; }

.slider {
  background-color: white;
  box-shadow: inset 0 0 10px 2px #dddddd;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  overflow: hidden;
  height: 40rem;
  width: 80rem;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .slider__slides {
    width: 500%;
    height: 40rem;
    position: absolute;
    left: 0;
    display: flex; }
  .slider__input {
    display: none; }
  .slider__slide {
    background: url("/img/quotation.png") no-repeat 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.082);
    background-blend-mode: multiply;
    background-size: 35rem;
    width: 80rem;
    transition: 1s; }
  .slider__content-box {
    height: 40rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .slider__evaluator-box {
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .slider__evaluator-description {
    color: #161616;
    text-align: right;
    margin-right: 1rem; }
  .slider__evaluator-name {
    font-weight: 500;
    font-size: 2.5rem; }
  .slider__evaluator-employment {
    font-size: 1.6rem;
    font-weight: 500; }
  .slider__evaluator-photo {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    overflow: hidden; }
    .slider__evaluator-photo--1 {
      background: url("/img/wecare-auto.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .slider__evaluator-photo--2 {
      background: url("/img/top-lyne.png");
      background-position: center;
      background-size: cover; }
    .slider__evaluator-photo--3 {
      background: url("/img/solistica.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  .slider__evaluator-photo {
    background-color: #cbe0e7; }
  .slider__evaluator-evaluation-box {
    width: 70%;
    margin: 3rem auto 0 auto;
    text-align: center; }
  .slider__evaluator-evaluation {
    color: #161616;
    font-size: 2.4rem;
    letter-spacing: 1.3px; }
  .slider__navigation-auto {
    position: absolute;
    width: 10rem;
    left: 35rem;
    bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider__auto-btn {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    border: 2px solid #7A98DB;
    transition: all .5s; }
  .slider__navigation-manual {
    position: absolute;
    width: 10rem;
    left: 10rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider__manual-btn {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    border: 2px solid #7A98DB;
    transition: .5s; }
    .slider__manual-btn:hover {
      cursor: pointer;
      background-color: #7A98DB; }

#radio1:checked ~ .slider__slide--first {
  margin-left: 0%; }

#radio2:checked ~ .slider__slide--first {
  margin-left: -20%; }

#radio3:checked ~ .slider__slide--first {
  margin-left: -40%; }

#radio1:checked ~ .slider__navigation-auto .slider__auto-btn--1 {
  background-color: #7A98DB !important; }

#radio2:checked ~ .slider__navigation-auto .slider__auto-btn--2 {
  background-color: #7A98DB; }

#radio3:checked ~ .slider__navigation-auto .slider__auto-btn--3 {
  background-color: #7A98DB; }

.icon {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: #acacac; }
  .icon-dollar-sign {
    fill: #ffd900; }
  .icon-shield {
    fill: #6cee77; }
  .icon-snowflake-o {
    fill: #0099ff; }
  .icon-bug {
    fill: #aa42ff; }
  .icon-heart {
    fill: #f04444; }
  .icon-whatsapp {
    fill: #8ee08e; }
  .icon-facebook {
    fill: #6b96db; }
  .icon-youtube {
    fill: #f83e3e; }
  .icon-instagram {
    fill: #dd357b; }
  .icon-emal {
    fill: #ffcc5d; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: #C2CCE1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1.4; }

::selection {
  background-color: #4081bd;
  color: white; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-right-small {
  margin-right: .4rem; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden; }
  .heading-primary--main {
    letter-spacing: 1.4rem;
    font-weight: 100;
    font-size: 6rem; }
  .heading-primary--sub {
    font-weight: 400;
    letter-spacing: .4rem;
    font-size: 2rem; }

.btn:link, .btn:visited {
  letter-spacing: .15rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  color: white; }

.subheading {
  color: #ffffff;
  font-size: 5rem;
  font-family: inherit;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
  text-align: center; }

.tertiary-header {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678); }

.about-section {
  background-color: #C2CCE1;
  min-height: 100rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .about-section__text-box {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%); }
  .about-section__content-container {
    height: 84rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .about-section__information-box {
    margin: 0 auto;
    width: 94%;
    display: flex;
    justify-content: space-between; }
  .about-section__information {
    width: 40%; }
  .about-section__information-heading {
    color: #ffffff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    font-size: 3rem; }
  .about-section__information-text {
    margin-top: .5rem;
    color: #f5f5f5;
    font-size: 2rem;
    text-align: left; }
  .about-section__important-information {
    font-size: 2.5rem; }
  .about-section__service-focus {
    height: 50rem; }
  .about-section__photos-box {
    margin: 0 auto;
    height: 85%;
    width: 95%;
    display: flex; }
  .about-section__photo-box {
    width: 100%;
    position: relative;
    opacity: 0;
    transform: translateX(-2rem);
    transition: background-size 1s, transform .7s, opacity 7s; }
    .about-section__photo-box.in {
      opacity: 1;
      transform: translateX(0rem); }
    .about-section__photo-box:hover {
      background-size: 130%; }
    .about-section__photo-box--first {
      background: white url("/img/horse.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%); }
      .about-section__photo-box--first.in {
        transition: background-size 1s, transform .7s .2s, opacity .7s .2s; }
      .about-section__photo-box--first:hover {
        background-size: 110%; }
    .about-section__photo-box--second {
      background: white url("/img/buuldozer-2.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 65%;
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%); }
      .about-section__photo-box--second.in {
        transition: background-size 1s, transform .7s .5s, opacity .7s .5s; }
      .about-section__photo-box--second:hover {
        background-size: 75%; }
    .about-section__photo-box--third {
      background: white url("/img/refrigerator-car.jpeg");
      background-position: center .5rem;
      background-repeat: no-repeat;
      background-size: 100%;
      clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%); }
      .about-section__photo-box--third.in {
        transition: background-size 1s, transform .7s .8s, opacity .7s .8s; }
      .about-section__photo-box--third:hover {
        background-size: 110%; }
  .about-section__photo-description {
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(25px);
    border-radius: 3px;
    height: 6rem;
    width: 30rem;
    padding-left: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    color: #2a2a2a;
    position: absolute;
    left: 14rem;
    bottom: 1rem;
    transform: translate(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .about-section__photo-description--construction {
      width: 45rem;
      padding-left: 12rem; }
    .about-section__photo-description--refrigeration-system {
      width: 47rem;
      padding-left: 13rem; }

.benefits-section {
  min-height: 90vh;
  height: 67rem;
  background: #fff;
  border-top: 2px solid #b3cde6;
  border-bottom: 2px solid #b3cde6;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.45), 0 -0.2rem 1rem rgba(0, 0, 0, 0.45);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 1; }
  .benefits-section__header-box {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%); }
  .benefits-section__subheading {
    color: #C2CCE1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.596); }
  .benefits-section__benefits-box-container {
    position: absolute;
    left: 50%;
    top: 58%;
    min-width: 80%;
    transform: translate(-50%, -50%);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; }
  .benefits-section__benefits-box {
    display: flex; }
    .benefits-section__benefits-box--1 {
      justify-content: space-between; }
    .benefits-section__benefits-box--2 {
      justify-content: space-evenly; }
  .benefits-section__benefits {
    height: 22rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
    align-items: center;
    border-radius: 8px;
    transform: scale(0);
    transition: transform .8s; }
    .benefits-section__benefits.box-shadow {
      background-color: #1c1c3a;
      box-shadow: 4px 4px 8px black, inset -3px -3px 8px black; }
    .benefits-section__benefits--1 {
      transition-delay: .4s; }
    .benefits-section__benefits--2 {
      transition-delay: .5s; }
    .benefits-section__benefits--3 {
      transition-delay: .6s; }
    .benefits-section__benefits--4 {
      transition-delay: .7s; }
    .benefits-section__benefits--5 {
      transition-delay: .8s; }
    .benefits-section__benefits.in {
      transform: scale(1); }
  .benefits-section__text-box {
    width: 100%;
    height: 28%;
    text-align: center;
    margin-bottom: 3rem; }
  .benefits-section__text {
    color: #575757;
    font-size: 2.3rem; }

.companies-section {
  background-color: #fff;
  height: 35rem;
  border-top: 2px solid #b3cde6;
  border-bottom: 2px solid #b3cde6;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25), 0 -0.2rem 1rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .companies-section__text-box {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%); }
  .companies-section__subheading {
    color: #C2CCE1;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.596); }
  .companies-section__companies-box {
    width: 100%;
    height: 60%;
    margin-top: 5rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .companies-section__companie {
    height: 10rem;
    width: 20rem;
    position: absolute;
    top: 0%; }
    .companies-section__companie--in-haus {
      height: 20rem;
      width: 22rem;
      margin-top: 1.2rem; }
    .companies-section__companie--top-lyne {
      height: 20rem;
      width: 21rem; }
    .companies-section__companie--solistica {
      border-radius: 3px;
      height: 12rem;
      width: 13rem;
      margin-top: 4.6rem; }
    .companies-section__companie--wecare-auto {
      height: 15rem;
      width: 15rem;
      margin-top: 3rem; }

.contact-section {
  min-height: 70rem;
  height: 100vh;
  background: #C2CCE1;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .contact-section__text-box {
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0%); }

.evaluations-section {
  min-height: 70rem;
  height: 100vh;
  background: #C2CCE1;
  position: relative; }
  .evaluations-section__text-box {
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10; }
  .evaluations-section__shadow {
    height: 35rem;
    width: 70rem;
    border-top-right-radius: 35px;
    position: absolute;
    right: 24rem;
    bottom: 5rem;
    filter: blur(9px);
    background-color: rgba(0, 0, 0, 0.157); }

.footer {
  background-color: #C2CCE1;
  height: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer__information-area {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__information-box {
    align-self: stretch;
    display: flex;
    flex-direction: column; }
    .footer__information-box--about {
      order: 1; }
    .footer__information-box--legal {
      order: 3; }
    .footer__information-box--contact {
      order: 2; }
    .footer__information-box--social-medias {
      order: 4;
      z-index: 4900; }
  .footer__information-heading {
    color: #f5f5f5;
    text-align: center;
    font-weight: 500;
    font-size: 2.3rem;
    margin-bottom: 1rem; }
  .footer__information-options-box {
    text-align: center; }
    .footer__information-options-box p {
      margin-top: 1rem; }
  .footer__information-option, .footer__information-option:link, .footer__information-option:visited {
    display: block;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding: .5rem .7rem;
    transition: all .2s; }
    .footer__information-option:not(:last-of-type), .footer__information-option:link:not(:last-of-type), .footer__information-option:visited:not(:last-of-type) {
      margin-bottom: 1rem; }
    .footer__information-option::after, .footer__information-option:link::after, .footer__information-option:visited::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #141414;
      position: absolute;
      border-radius: 999px;
      bottom: -.15rem;
      left: 0;
      transition: all .5s;
      transform: scaleX(0.5); }
    .footer__information-option:hover, .footer__information-option:link:hover, .footer__information-option:visited:hover {
      color: #33405C;
      background-color: white; }
      .footer__information-option:hover::after, .footer__information-option:link:hover::after, .footer__information-option:visited:hover::after {
        background-color: #33405C;
        border-radius: 0;
        transform: scaleX(1); }
  .footer__information-option--none-animate:hover {
    background-color: transparent !important;
    color: currentColor; }
  .footer__information-option--none-animate::after {
    height: 0 !important;
    background-color: transparent; }
  .footer__copyright-area {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 85%;
    height: 20rem;
    text-align: center;
    margin-top: 8rem 0;
    position: relative;
    font-size: 1.3rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer__copyright-area::before {
      content: "";
      width: 100%;
      height: 1px;
      z-index: 2000;
      border-radius: 999px;
      background-color: black;
      position: absolute;
      top: 0; }
  .footer__logo-box {
    margin-top: 3rem; }
  .footer__logo {
    width: 18rem; }
  .footer__copyright-box {
    text-align: center;
    margin-top: 0rem; }
  .footer__copyright {
    font-size: 2rem;
    font-weight: 500; }
  .footer__cnpj {
    font-size: 1.7rem;
    font-weight: 400; }
  .footer__developer-box {
    position: absolute;
    bottom: 1rem;
    left: 0; }
  .footer__developer-infos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    padding: 0 1rem .2rem 1rem;
    box-sizing: content-box;
    font-weight: 500;
    border-bottom: 1px solid black; }
  .footer__svg {
    width: 3rem;
    height: 3rem; }
    .footer__svg::after {
      background-color: #fff;
      height: 0 !important; }

.header {
  min-height: 64.5rem;
  height: 95vh;
  position: relative; }
  .header--video {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.3) 15%, rgba(60, 60, 71, 0.3) 75%);
    background-size: cover;
    background-position: center; }
  .header__logo-box {
    position: absolute;
    top: 6.5rem;
    left: 12rem;
    transform: translate(-50%); }
  .header__logo {
    width: 16rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__scroll-down-indicative-box--1 {
    width: 3.2rem;
    height: 6rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500; }
  .header__scroll-down-indicative--1 {
    border: 2px solid white;
    border-radius: 999px;
    height: 6rem;
    width: 3.2rem;
    position: relative; }
  .header__scroll-down-indicative--1::before {
    animation: scroll-down infinite 1.5s;
    content: "";
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%; }
  .header__scroll-down-indicative-box--2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; }
  .header__scroll-down-indicative--2 {
    animation: flag-down-up infinite 1.2s ease;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: 3rem;
    width: 3rem;
    transform: rotate(45deg); }

.history-section {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .history-section__text-box {
    text-align: center;
    margin: 5rem 0 10rem 0; }
  .history-section__subheading {
    font-size: 5rem; }
  .history-section__tertiary-header {
    font-size: 3rem;
    font-weight: 400; }
  .history-section__topics-box {
    display: block;
    padding: 0 2rem;
    width: 100%; }
    .history-section__topics-box :not(:last-of-type) {
      margin-bottom: 8rem; }
  .history-section__topic-box {
    margin-bottom: 0rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .history-section__topic {
    width: 60rem; }
  .history-section__topic-heading {
    text-transform: uppercase;
    font-size: 2.6rem; }
  .history-section__topic-information-box {
    width: inherit;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem; }
  .history-section__topic-information {
    text-align: left; }
  .history-section__wave-box {
    margin-bottom: -1rem; }

.navigation {
  position: absolute; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 5001;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.253);
    text-align: center;
    outline: none; }
    .navigation__button:hover {
      cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background: radial-gradient(#C2CCE1 40%, #7A98DB);
    z-index: 5000;
    transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);
    transform: scale(0); }
  .navigation__nav {
    height: 100vh;
    min-height: 68rem;
    position: fixed;
    top: 0;
    left: -30rem;
    z-index: 5000;
    opacity: 0;
    width: 10%;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .navigation__list {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 4rem;
    font-weight: 100;
    color: #33405C;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    text-decoration: none;
    background: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 225%;
    transition: all .4s; }
  .navigation__link span {
    padding-right: 1rem;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    transform: translateX(1.8rem); }
  .navigation__checkbox:checked ~ .navigation__background,
  .navigation .bg-show {
    transform: scale(60); }
  .navigation__checkbox:checked ~ .navigation__nav {
    left: 0;
    opacity: 1;
    width: 100%;
    overflow: hidden; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    left: -4px;
    width: 2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      height: 2px;
      background-color: black;
      display: inline-block;
      border-radius: 100rem;
      transition: transform 0.25s, background-color 0.1s, top 0.1s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      width: 1rem;
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem;
      width: 3rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked ~ .navigation__button {
    background: #fff; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    width: 3rem;
    background-color: #750808;
    top: -1px;
    left: -1px;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    background-color: #750808;
    top: -1px;
    left: -1px;
    transform: rotate(135deg); }

.whatsapp-call {
  position: fixed;
  right: 6.3rem;
  bottom: 4rem;
  display: inline-block;
  background-color: #5cd17f;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.63), inset 0 1rem 2rem rgba(255, 255, 255, 0.2);
  z-index: 100; }
  .whatsapp-call svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    fill: white !important; }
  .whatsapp-call:hover {
    animation: increase-decrease 1.5s infinite ease; }
