.arrow {
    border-top: 1px solid var(--color-secondary-opposite);
    border-right: 1px solid var(--color-secondary-opposite);

    display: inline-block;

    height: 8px;
    width: 8px;

    transform: rotate(45deg) translateY(-1px);
}