.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text,
    &__arrow {
        transition: transform .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
        display: block;
    }
    &:hover &__text {
        transform: translateX(-26px);
        transition: transform .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
    }
    
    &:hover &__arrow {
        transform: translate(calc(var(--main-button-width) - 5.5rem), 2px);
    }
}