.button {
    
    &__text,
    &__arrow {
        transition: transform .5s !important;
        display: block;
    }
    &:hover &__text {
        transform: translateX(-30px);
        transition: transform .5s !important;
    }
    
    &:hover &__arrow {
        transform: translate(calc(var(--main-button-width) - 6rem), 2px);
    }
}