.carousel {
    width: 130rem;
    height: 35rem;

    position: relative;

    &__items {
        overflow: hidden;
        
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;

        display: flex;
        align-items: center;
        
        width: 100%;
        height: 100%;
    }
    
    &__item {
        flex: none;

        width: 70%;
        height: 100%;

        overflow: hidden;

        position: relative;
        
        scroll-snap-align: start;

        transition: 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
        
        &:not(:last-child) {
            --margin-right: 250px;
            margin-right: var(--margin-right);
        }
        
        opacity: .2;
        height: 70%;
        pointer-events: none;
        
        &.current {
            pointer-events: initial;
            opacity: 1;
            height: 100%;
        }
        
        &.slide2 {
            transform: translateX(calc(-100% - var(--margin-right))) scale(1);
        }

        &.slide3 {
            transform: translateX(calc(-200% - (var(--margin-right) * 2))) scale(1);
        }

        &--car {
            .carousel__services-box {
                position: absolute;
                top: 0;
                right: 0;
                
                height: 100%;
                width: 100%;
                
                display: flex;

                .carousel__service {
                    width: 50%;
                }
            }
        }
        
        &--truck {
            .carousel__services-box {    
                position: absolute;
                top: 0;
                right: 0;
                
                height: 100%;
                width: 100%;
                
                display: flex;
                flex-direction: column;

                .carousel__service-row {
                    height: 50%;

                    .carousel__icon-box {
                        top: 0;
                    }
                    
                    &--1 {
                        display: flex;
                        width: 100.1%;
                        
                        .carousel__service { 
                            width: 968521.34%;
                            height: 100%;
                            
                            .icon {
                                width: 2.5rem !important;
                            }

                            .carousel__service-type {
                                font-size: 1.1rem;
                            }

                            .carousel__service-type-hover {
                                font-size: 1.1rem;
                            }
                            
                            .carousel__service-type {
                                bottom: -7px;
                            }

                            .arrow-box {
                                transform: translateX(2px);
                            }
                            
                            .arrow {
                                width: .7rem;
                                height: .7rem;
                                
                                transform: rotate(45deg) translateY(1px);
                            }
                            
                            .button-secondary__text {
                                font-size: 1.2rem;
                            }
                        }
                    }
                    
                    &--2 {
                        display: flex;
                        
                        .carousel__service { 
                            width: 50%;
                            height: 100%;
                            
                            .icon {
                                width: 3.2rem !important;
                            }

                            .carousel__service-type {
                                font-size: 1.6rem;
                            }

                            .carousel__service-type-hover {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }

        &--bulldozer {
            .carousel__service {
                height: 100%;
                width: 100%;

                .icon {
                    width: 5rem !important;
                }

                .carousel__service-type {
                    font-size: 2rem;
                    letter-spacing: 10px;
                }

                .carousel__service-type-hover {
                    font-size: 2rem;
                    letter-spacing: 10px;
                }
                
                .carousel__service-type {
                    bottom: -17px;
                }

                .arrow-box {
                    transform: translateX(-2px);
                }
                
                .arrow {
                    width: 1rem;
                    height: 1rem;
                    
                    transform: rotate(45deg) translateY(-1px);
                }
                
                .button-secondary__text {
                    font-size: 1.6rem;
                }
            }
        }
    }

    &__img {
        height: 100%;
        width: 100%;

        object-fit: cover;
    }

    &__services-box {
        height: 100%;
        width:  100%;
        
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(0px);
        
        transition: .6s .2s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
        
        &.active {
            backdrop-filter: blur(10px);
            background-color: #00000094;
            transition: .6s .1s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
        }
    }
    
    &__service {
        position: relative;
        left: -9999px;

        opacity: 0;
        transform: translateX(-70px);

        &:nth-of-type(1) {
            transition: opacity .4s .1s ease-in,
            transform .4s .1s ease-in,
            background-color .2s ease-in,
            left .2s .8s !important;
        }
        &:nth-of-type(2) {
            transition: opacity .4s .2s ease-in,
            transform .4s .2s ease-in,
            background-color .2s ease-in,
            left .2s .8s !important;
        }
        
        &:nth-of-type(3) {
            transition: opacity .4s .3s ease-in,
            transform .4s .3s ease-in,
            background-color .2s ease-in,
            left .2s .8s !important;
        }
        
        &.active {
            opacity: 1;
            transform: translateX(0);
            
            left: 0px;

            &:nth-of-type(1) {
                transition: opacity .4s .1s ease-in,
                transform .4s .1s ease-in,
                background-color .2s ease-in,
                left 0s 0s !important;
            }
            &:nth-of-type(2) {
                transition: opacity .4s .2s ease-in,
                transform .4s .2s ease-in,
                background-color .2s ease-in,
                left 0s 0s !important;
            }
            
            &:nth-of-type(3) {
                transition: opacity .4s .3s ease-in,
                transform .4s .3s ease-in,
                background-color .2s ease-in,
                left 0s 0s !important;
            }
        }
        
        &:hover {
            background-color: #00000054;
        }        

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        text-decoration: none;

        .carousel__service-type {
            position: relative;

            opacity: 1;
            
            bottom: -21px;

            transition: .4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        }
        
        &:hover .carousel__service-type {
            position: relative;

            opacity: 0;
            
            bottom: 1px !important;

            transition: .4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        }

        .carousel__service-type-hover {
            position: relative;

            opacity: 0;

            bottom: 0;
            
            transition: .4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        }
        
        &:hover .carousel__service-type-hover {
            position: relative;

            opacity: 1;
            
            bottom: 12px;

            transition: .4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        }

        &:hover .button-secondary{
            .arrow-box {
                left: 93%;
                bottom: 0px;
            }   
            
            .button-secondary__text {
                transform: translateX(-10px);
            }
        }

        .button-secondary {
            position: relative;
        }
    }

    &__icon-box {
        width: 100%;
        height: 4rem;
        position: relative;
        top: -25px;
    }

    &__service-icon {
        height: 4rem !important;
        width: 4rem !important;
        fill: #D6D6D6 !important;
    
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__service-box {
        width: 100%;

        padding-left: 10px;

        position: relative;
        top: -20px;
        
        text-align: center;
    }
    
    &__service-type, 
    &__service-type-hover {
        font-size: 1.9rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-family: 'nunito-regular';
        font-weight: 100;
        color: #D6D6D6;
        display: block;
    }

    &__explore-box {
        width: 100%;

        position: relative;

        .button-secondary {
            position: absolute;
            right: 30px;
            top: -20px;

            &__text {
                color: #D6D6D6;
            }

            .arrow {
                border-top: 1px solid red;
                border-right: 1px solid red;
            }
        }
    }
}