.icon-box {
    border-radius: 999px;
    border: 1px solid var(--color-border);
    box-shadow: var(--box-shadow-icon-box);

    height: 5.3rem;
    width: 5.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        box-shadow: var(--box-shadow-icon-box-interaction)
    }
}

.icon {
    display: inline-block;
    height: 2.2rem;
    width: 2.2rem;
    stroke-width: 0;
    color: (--color-tertiary-opposite);
    stroke: currentColor;
    fill: var(--color-tertiary-opposite);

    // transform: translateX(1px);
    
    &--youtube {
        height: 2.5rem;
        width:  2.5rem;

        // transform: translateY(0px);
    }

}