.link {
    text-decoration: none;

    &__letter {
        display: inline-block;
        letter-spacing: -4px;

        &--big {
            --seconds: 1.8s;
            --letter-up: -20px;
        }
        &--small {
            --seconds: 1.2s;
            --letter-up: -7px;
        }
    }

    &:hover .link__letter {
        animation: link var(--seconds) ease-in-out infinite;

        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: .1s;
        }
        &:nth-child(3) {
            animation-delay: .2s;
        }
        &:nth-child(4) {
            animation-delay: .3s;
        }
        &:nth-child(5) {
            animation-delay: .4s;
        }
        &:nth-child(6) {
            animation-delay: .5s;
        }
        &:nth-child(7) {
            animation-delay: .6s;
        }
        &:nth-child(8) {
            animation-delay: .7s;
        }
        &:nth-child(9) {
            animation-delay: .8s;
        }
        &:nth-child(10) {
            animation-delay: .9s;
        }
        &:nth-child(11) {
            animation-delay: 1s;
        }
        &:nth-child(12) {
            animation-delay: 1.1s;
        }
        &:nth-child(13) {
            animation-delay: 1.2s;
        }
        &:nth-child(14) {
            animation-delay: 1.3s;
        }
        &:nth-child(15) {
            animation-delay: 1.4s;
        }
        &:nth-child(16) {
            animation-delay: 1.5s;
        }
        &:nth-child(17) {
            animation-delay: 1.6s;
        }
        &:nth-child(18) {
            animation-delay: 1.7s;
        }
        &:nth-child(19) {
            animation-delay: 1.8s;
        }
        &:nth-child(20) {
            animation-delay: 1.9s;
        }
        &:nth-child(21) {
            animation-delay: 2s;
        }
        &:nth-child(22) {
            animation-delay: 2.1s;
        }
        &:nth-child(23) {
            animation-delay: 2.2s;
        }
        &:nth-child(24) {
            animation-delay: 2.3s;
        }
        &:nth-child(25) {
            animation-delay: 2.4s;
        }
        &:nth-child(26) {
            animation-delay: 2.5s;
        }
        &:nth-child(27) {
            animation-delay: 2.6s;
        }
        &:nth-child(28) {
            animation-delay: 2.7s;
        }
        &:nth-child(29) {
            animation-delay: 2.8s;
        }
        &:nth-child(30) {
            animation-delay: 2.9s;
        }
        &:nth-child(31) {
            animation-delay: 3s;
        }
        &:nth-child(32) {
            animation-delay: 3.1s;
        }
        &:nth-child(33) {
            animation-delay: 3.2s;
        }
    }

    &__white-space {
        display: inline-block;
    }
}