.slider {
    border-radius: 999px;
    box-shadow: var(--box-shadow-img);    
    
    height: 45rem;
    width:  45rem;
    
    transition: background-image .4s ease-in !important;    
    &.image {
        &--1 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: var(--bg-img-header-1);
        }
        &--2 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: var(--bg-img-header-2);
        }
        &--3 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: var(--bg-img-header-3);
        }
    }
}