.slider {    
    transition: background-image .4s ease-in !important;    

    &[data-slide = first] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--bg-img-header-1);
    }

    &[data-slide = second] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--bg-img-header-2);
    }
    &[data-slide = tertiary] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--bg-img-header-3);
    }
}