.slider {
    background-repeat: var(--bg-img-header);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 999px;

    box-shadow: var(--box-shadow-img);

    height: 45rem;
    width:  45rem;

    perspective: 999px;
    transition: background-image .5s ease-in,
                transform .5s ease !important;
}