.swipe-button {
    cursor: pointer;
    &__body {
        background: linear-gradient(110deg, rgb(237, 251, 255), rgb(117, 117, 194) 40%,rgb(192, 31, 85), rgb(255, 0, 0) 100%);

        border: 5px solid #111;
        border-radius: 999px;
        box-shadow: 5px  5px 11px #000000e8,
                    -3px -3px 5px #2b272783,
                inset 3px  3px 5px #000000e8,
                inset -3px -3px 5px #2b272783;

        color: #00000017;

        height: 4rem;
        width: 8rem;

        position: relative;

        // overflow: hidden;
    }

    &__background {
        border-radius: 999px;

        position: absolute;
        height: 100%;
        width:  100%;
        // background-color: #fff;
        // background: linear-gradient(110deg, rgb(237, 251, 255), rgb(117, 117, 194) 40%,rgb(192, 31, 85), rgb(255, 0, 0) 100%);

    }
    
    &__ball {
        border-radius: 50px;
        background: linear-gradient(145deg, #413f3f, #030303);
        box-shadow:  2px  2px 7px #000000e8,
                    -2px -2px 7px #2b272783;

        width: 3.3rem;
        height: 3.3rem;

        position: absolute;
        top: 50%;
        left: -1px;
        transform: translateY(-50%);
        transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        
    }
    &.active .swipe-button__ball {
        left: 38px;
    }
}