.swipe-button {
    cursor: pointer;
    &__body {
        background: linear-gradient(110deg, rgb(237, 251, 255), rgb(117, 117, 194) 40%,rgb(192, 31, 85), rgb(255, 0, 0) 100%);
        
        border: 5px solid var(--color-secondary);
        border-radius: 999px;
        box-shadow: var(--box-shadow-swipe-button);

        height: 4rem;
        width: 8rem;

        position: relative;

        // overflow: hidden;
    }

    &__background {
        border-radius: 999px;

        position: absolute;
        height: 110%;
        width:  110%;
        // background-color: #fff;
        // background: linear-gradient(110deg, rgb(237, 251, 255), rgb(117, 117, 194) 40%,rgb(192, 31, 85), rgb(255, 0, 0) 100%);

    }
    
    &__ball {
        border-radius: 50px;
        background: var(--bg-color-swipe-button-ball);
        box-shadow:  var(--box-shadow-swpie-button-ball);

        width: 3.3rem;
        height: 3.3rem;

        position: absolute;
        top: 50%;
        left: -1px;
        transform: translateY(-50%);
        transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) !important;
        
    }
    &.active .swipe-button__ball {
        left: 38px;
    }
}