.vertical-carousel {
    // background-color: lightgreen;
    height: 11rem;

    position: relative;
    // right: -50px;
    
    overflow: hidden;
    
    
    z-index: 2;
    
    &--category {
        opacity: 1;

        &--top {
            right: -80px;
        }
        
        &--bottom {
            text-transform: lowercase;
            top: -20px;
            right: -190px;
        }
    }

    &--number {
        height: 24rem;
        z-index: 0;

        top: -120px;
        right: -76px;
    }

    
    &__items {
        height: 220%;

    }
    
    &__item {
        font-size: 9rem;
        font-family: 'nunito-black';

        text-align: right;

        letter-spacing: 2px;

        position: relative;

        color: #eee;
        font-weight: thin;


        &--number {
            font-family: 'bison';
            font-size: 20rem;

            color: #333;
        }
    }
}