.vertical-carousel {
    // background-color: lightgreen;
    height: 12rem;

    position: relative;
    // right: -50px;
    
    // overflow: hidden;
    
    z-index: 2;
        
    &--category {

        &--top {
            // width: 550px;
            right: -80px;
        }
        
        &--bottom {
            text-transform: lowercase;
            top: -20px;
            right: -190px;
        }
    }
    

    &__number {
        // background-color: #fff;
        height: 24rem;
        z-index: 0;

        top: -100px;
        right: -85px;
        
    }

    
    &__items {
        // background-color: #aaa;

        height: 100%;
        width: 200rem;

        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;

        position: relative;
        right: -20rem;

        overflow: hidden;
        
        &:hover {
            .vertical-carousel__item {
                // transform: translateY(calc(-100%));
                transition: 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
            }
        }

        &--2 {
            
        }
        
        &--1,
        &--2 {
            // background-color: transparent !important;
            :last-child {
                transform: translateX(150px);
            }

            :last-child * {
                font-size: 8rem;
            }
        }
    }
    
    &__item {
        height: 100%;

        // background-color: #fff;

        text-align: right;
        position: relative;
        font-weight: thin;
        
        scroll-snap-align: start;

        transition: 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;

        position: relative;
        left: -20rem;

        opacity: 0;
        pointer-events: none;
        transform: scale(1);
        
        &.current {
            pointer-events: initial;
            opacity: 1;
            transform: scale(1);
        }

        &.construction {
            transform: translateX(150px) !important;
        }

        &.slide2 {
            transform: translateY(-100%);
        }

        &.slide3 {
            transform: translateY(-200%);
            &.construction {
                transform: translateY(-200%) translateX(150px) !important;
            }
        }
    }
    
    &__text {
        background-color: transparent !important;
        color: #eee;
        font-family: 'nunito-black';
        font-size: 9rem;
        letter-spacing: 2px;

        pointer-events: none;

        white-space: nowrap;
        
        transition: .3s .8s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
        opacity: 1;
        
        &.hide {
            opacity: 0;
            transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860) !important;
        }

        &--2 {
            &--leve {
                position: relative;
                left: -60px;
            }
        }
        
    }
    
    &__number {
        font-family: 'bison';
        font-size: 20rem;

        color: #333;
    }
    
}