*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    // cursor: none !important;
}

html {
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
    position: relative;
}

body {
    background: var(--bg-color-body);
    background-size: cover;
    box-sizing: border-box;

    position: relative;

    overflow-x: hidden;

}

::selection {
    background-color: rgb(211, 92, 92);
    color: #fff;
}

::-webkit-scrollbar {
    width: 7px;
    z-index: -1;

    &.hidden {
        width: 0 !important;
    }
    
    &-thumb {
        background: var(--color-secondary-opposite);
        border-radius: 999px;
        height: 10px;
    }
    
    &-track {
        background-color: var(--color-secondary);
    }
}