*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    cursor: none !important;
}

html {
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
    position: relative;
    z-index: -1;
}

body {
    background: $background-color-body;
    box-sizing: border-box;

    position: relative;

    overflow-x: hidden;

    *:hover .cursor {
        transform: scale();
    }
}

section.blur {
    filter: blur(2px);
}

::selection {
    background-color: $background-color-selection;
    -webkit-text-fill-color: $color-text-dark-1;
    color: $color-text-dark-1;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 9px;
    z-index: -1;
    
    &-thumb {
        background: #eee;
        border-radius: 999px;
        height: 10px;
    }
    
    &-track {
        background-color: #222;
    }
}
