.cursor {
    position: fixed;

    border-radius: 50%;

    border: 1px solid #eee;
    pointer-events: none;
    transform: translate(-50%, -50%);

    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;

    
    &--small {
        background-color: #222;
        height: 8px;
        width: 8px;
        
    }
    
    &--big {
        border: 1px solid #666;
        
        height: 50px;
        width: 50px;
        transition: .1s;
    }
    
}

/*
    Encreasing animation:
    transition: .5s cubic-bezier(.75, -1.27, .3, 2.33) transform, 
                .2s cubic-bezier(.75, -1.27, .3, 2.53) opacity,
                .4s cubic-bezier(.75, -1.27, .3, 2.53) width,
                            .4s cubic-bezier(.75, -1.27, .3, 2.33) height,
           left .1s ease-out,
            top .16s ease-out;
*/