@font-face {
    font-family: "Always Smile";
    src: url(../../media/fonts/a_always_smile/aAlwaysSmile.otf);
}

@font-face {
    font-family: "Imperator";
    src: url(../../media/fonts/imperator/ImperatorPlaque.ttf)
}

@font-face {
    font-family: "bison";
    src: url(../../media/fonts/bison/bison.ttf)
}

@font-face {
    font-family: "run";
    src: url(../../media/fonts/run_2/run-demo.otf)
}

@font-face {
    font-family: "montserrat";
    src: url(../../media/fonts/Montserrat/Montserrat-Black.ttf)
}

@font-face {
    font-family: "erosion";
    src: url(../../media/fonts/erosion/erosion.otf)
}

@font-face {
    font-family: "blockt";
    src: url(../../media/fonts/blockt/Blockt.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
