@font-face {
    src: url("../../../media/fonts/aeonik/Aeonik-Air.otf");
    font-family: 'aeonik-light';
}
@font-face {
    src: url("../../../media/fonts/aeonik/Aeonik-Air.otf");
    font-family: 'aeonik';
}