@font-face {
    src: url("../../media/fonts/aeonik/Aeonik-Air.otf");
    font-family: 'aeonik-light';
}

@font-face {
    src: url("../../media/fonts/aeonik/Aeonik-Air.otf");
    font-family: 'aeonik';
}

@font-face {
    src: url("../../media/fonts/Nunito_Sans/NunitoSans-Light.ttf");
    font-family: 'nunito-light';
}

@font-face {
    src: url("../../media/fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf");
    font-family: 'nunito-extraLight';
}

@font-face {
    src: url("../../media/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
    font-family: 'nunito-regular';
}

@font-face {
    src: url("../../media/fonts/Nunito_Sans/NunitoSans-Black.ttf");
    font-family: 'nunito-black';
}

@font-face {
    src: url("../../media/fonts/bison/bison.ttf");
    font-family: 'bison';
}