body {
    font-family: "nunito-extraLight", 'aeonik-light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

.main-heading {
    color: var(--color-secondary-opposite);
    font-size: 7rem;
    letter-spacing: 1px;
    font-family: 'nunito-light';
}