body {
    font-family: "nunito-extraLight", 'aeonik-light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

.heading {
    color: var(--color-secondary-opposite);
    font-size: 6.3rem;
    letter-spacing: 1px;
    font-family: 'nunito-light';
}

.subheading {
    color: var(--color-secondary-opposite);
    font-size: 4.3rem;
    letter-spacing: 1px;
    font-family: 'nunito-light';

    position: relative;
    
    display: inline-block;
    
    padding: 0 20px;
    
    &--opposite {
        color: #EEE;
    }

    &--left {
        margin-right: 100%;
        transform: translateX(0%);
    }

    &--right {
        margin-left: 100%;
        transform: translateX(-100%);
    }

    &--left::before,
    &--left::after,
    &--right::before,
    &--right::after {
        content: "";
        
        background-color: #ff0000;
        
        position: absolute;
        
        height: 2px;
        
        transition: .6s .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }
    
    &--left::before,
    &--left::after {
        border-radius: 0 999px 999px 0;
        left: 0;
    }
    &--right::before,
    &--right::after {
        border-radius: 999px 0 0 999px;
        right: 0;
    }
    
    &--left::before {
        bottom: -10px;
        width: 180px;
    }
    
    &--left::after {
        bottom: -21px;    
        width: 120%;
    }
    
    &--left.in::before {
        width: 320px;
    }

    &--left.in::after {
        width: 180px;
    }


    &--right::before,
    &--right::after {
        right: 0;
    }
    
    &--left::before,
    &--right::before {
        bottom: -10px;
        width: 100%;
    }
    
    &--left::after,
    &--right::after {
        bottom: -21px;    
        width: 120%;
    }
    
    &--left.in::before,
    &--right.in::before {
        width: 120%;
    }

    &--left.in::after, 
    &--right.in::after {
        width: 100%;
    }
}