.arrow-container {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
}

.letter-spacing {
    & > * {
        margin-right: 3px;
    }
}

.white-space--no-wrap {
    white-space: nowrap;
}