.service {
    &__about {
        background-color: var(--color-zero);
        padding: 7rem 0;
        min-height: 500px;
        height: 85vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: relative;

        &::before {
            content: '';
            background-color: #222;
            border-radius: 999px;
            
            height: .1rem;
            width:  90%;
            
            position: absolute;
            bottom: -2.3rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &__content-box {
            // background-color: #fff;
            width: 60%;
            height: 48rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            padding-top: 4.5rem;
        }
        
        &__heading {
            font-size: 3.7rem;
            color: var(--color-primary-opposite);
            margin-top: -2.2rem;
        }
        
        &__text {
            font-size: 1.8rem;
            color: var(--color-secondary-opposite);
            font-weight: var(--font-weight);
            letter-spacing: 1px;
            // margin-top: 1.2rem;
            
            max-width: 98%;
            
            line-height: 26px;
        }

        &__benefits-list {
            list-style: none;

            margin-top: 4rem;
        }
        
        &__benefit {
            display: flex;
            align-items: center;

            :not(:last-child) {
                margin-bottom: .7rem;
            }
        }
        
        &__benefit-item {
            color: var(--color-secondary-opposite) !important;
            font-weight: var(--font-weight);
            font-size: 1.8rem;
            letter-spacing: 1px;
        }
        
        &__benefit-icon {
            border-radius: 999px;
            margin-right: 1rem;
            fill: red;
        }
        
        &__button {
            &,
            &:visited,
            &:link {
                text-decoration: none;
                transform: translateX(9%) translateY(10px);
                width: 24.5rem;
                margin-top: 4rem;

                .arrow-box {
                    transform: translateY(-2px);
                }
                
                .arrow {
                    border-top: .1rem solid red;
                    border-right: .1rem solid red;

                    width: 1rem;
                    height: 1rem;
                }

                .button-secondary__text {
                    font-weight: 1000;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-size: 1.7rem;
                }
            }

        }

        &__img-box {
            // background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 20%;
            height: 48rem;
            padding-top: 6rem;
        }

        &__img {
            border-radius: 1px;
            opacity: 1;
            width: 100%;
            width: 30rem;
            
            position: relative;
            // left: -10rem;
            // top: -1rem;
            inset: -1rem 0 0 -1.8rem;
        }

        @media only screen and (max-width: $seventh-breakpoint) {
            // min-height: 200px;
            // height: 10vh !important;
            // display: none;

            padding: 0px 0;

            &__content-box {
                padding: 0;

                align-items: center;
                // align-items: ce;

                position: relative;
                top: -50px;
            }

            &__img-box {
                position: absolute;
            }

            &__img {
                inset: 120px 0 100px -70px;
            }

            &__heading {
                width: 145%;
                margin-bottom: 10px;
            }

            &__text {
                font-size: 2rem;
                max-width: 150%;
                width: 145%;
            }

            &__benefits-list {
                position: relative;
                left: -140px;
            }
        }
    }
}