@keyframes explore {
    from {
        transform-origin: top;
        transform: scaleY(0);
    }
    
    50% {
        transform: scaleY(1);
    }

    to {
        // transform: scaleY(0);
    }
}