@keyframes explore {
    from {
        transform-origin: top;
        transform: scaleY(0);
    }
    
    50% {
        transform-origin: top;
        transform: scaleY(1);
    }
    51% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

@keyframes goAway {

    from {
        transform-origin: right;
        transform: scaleX(1);
    }
    
    to {
        transform-origin: right;
        transform: scaleX(0);
    }
}

@keyframes link {
    0% {
        transform: translateY(0px);
    }

    12% {
        transform: translateY(var(--letter-up));
    }

    40%, 50% {
        transform: translateY(0px);
    }
}

@keyframes contact-reminder {
    0% {
        transform: rotate(0);
    }
    
    20% {
        transform: rotate(15deg);
    }
    
    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-15deg);
    }
    
    100% {
        transform: rotate(0);
    }
}

// @keyframes hoverEffect {
//     0% {
//         transform: translate(-50%, -50%) scale(1.4);
//     }
    
//     50% {
//         transform: translate(-50%, -50%) scale(.8);
        
//     }
    
//     100% {
//         transform: translate(-50%, -50%) scale(1.4);

//     }

// }