:root {
    --color-dark-1: #000;
    --color-dark-2: #111;
    --color-dark-3: #2E3339;

    --color-light-1: #fff;
    --color-light-2: #eee;
    --color-light-3: #ddd;

    --bg-color: var(--color-dark-2);
}