:root {
    --color-dark-1: #000;
    --color-dark-2: #111;
    --color-dark-3: #2E3339;
    --color-dark-4: #474d53;

    --color-transparent-dark-1: #0000000e;
    --color-transparent-dark-2: #0000008e;

    
    --color-light-1: #fff;
    --color-light-2: #eee;
    --color-light-3: #D6D6D6;
    --color-light-4: #aaa;
    --color-light-5: #999;
    
    --color-transparent-light-1: #ffffff0a;
    --color-transparent-light-2: #ffffffcc;

    --main-button-width: 23rem;
}