// COLORS
$color-light-1: #fff;
$color-light-2: #eee;

$color-dark-1: #000;
$color-dark-2: #222;
$color-dark-3: #333;

$color-text-light-1: #fff;
$color-text-light-2: #eee;

$color-text-dark-1: #000;
$color-text-dark-2: #222;
$color-text-dark-3: #333;

$color-text-blue-1: #03A9F4;

$color-paragraph: #eee;
$color-card-evaluator-name: #fff;

$color-evaluation-webkit-box-reflect: #000000cc;

$color-subheading: $color-text-dark-1;


// BACKGROUND-COLORS
$background-color-body:$color-light-2;

$background-color-selection: #ee6f6f;

$background-color-navigation-icon: $color-light-2;
$background-color-navigation-icon-interaction: $color-dark-1;
$background-color-navigation-button: $color-light-2;
$background-color-before-navigation-link: $color-light-2;

$background-color-subheading-before: $color-subheading;

$background-color-card: $color-dark-3;

// LINEAR-GRADIENTS
$evaluation-layer-first-color: #CF1212;
$evaluation-layer-second-color: #3A0606;

// BORDERS
$img-box-border-color: #eee;

//FILL
$fill: #eee;