.message-options-box {
    position: absolute;
    left: 50%;
    top: 62%;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.message-option {
    background-color: $background-color-message-option;
    height: 40rem;
    width: 33rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, 0.116);

    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: all .5s;

    
    &:not(:nth-of-type(2)) {
        margin-right: 5rem;
    }
    
    &:hover {
        transform: scale(1.1);
    }

    &--whatsapp {
        transform: scale(1.1);
        order: 2;
    }
    
    &--facebook {
        order: 1;
        transform: scale(.9);
        
    }
    
    &--instagram {
        order: 3;
        transform: scale(.9);
    }
    
    &--email {
        order: 3;
        transform: scale(.9);
    }

    &--facebook:hover ~ &--whatsapp {
        transform: scale(.9) !important;
        order: 2;
    }

    &--email:hover ~ &--whatsapp {
        transform: scale(.9) !important;
        order: 2;
    }

    &__color-on-top {
        height: .7rem;
        width: 100%;
        
        position: absolute;
        top: 0;
        
        &--whatsapp {
            background: $fill-whatsapp;
        }
        
        &--facebook {
            
            background: $fill-facebook;
        }
        
        &--instagram {
            background: $fill-instagram;
            
        }

        &--email {
            background: $fill-email;
        }
    }
    
    &__svg {
        &--whatsapp {
            fill: $fill-whatsapp !important;        
        }
        
        &--facebook {
            fill: $fill-facebook !important;        
            
        }
        
        &--instagram {
            fill: $fill-instagram !important;            
        }

        &--email {
            fill: $fill-email !important;            
        }
    }
    
    &__text {
        margin: 0 auto;
        width: 90%;

        color: $color-flowing-text;
        text-align: center;
        font-size: 2rem;
        
    }

    &__btn {
        height: 4.5rem;
        width: 80%;
        border-radius: 999px;
        border-style: solid;
        border-width: 1px;

        font-size: 1.5rem;
        text-decoration: none;
        
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;

        &:hover {
            color: white;
        }
        
        &--whatsapp {
            border-color: $fill-whatsapp;
            color: $fill-whatsapp;

            &:hover {
                background-color: $fill-whatsapp;
            }
        }
        
        &--facebook {
            border-color: $fill-facebook;   
            color: $fill-facebook;
            &:hover {
                background-color: $fill-facebook;
            }
        }
        
        &--instagram {
            border-color: $fill-instagram;    
            color: $fill-instagram;
            &:hover {
                background-color: $fill-instagram;
            }
        }

        &--email {
            border-color: $fill-email;    
            color: $fill-email;
            &:hover {
                background-color: $fill-email;
            }
        }
    }
}