.slider {
    background-color: white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.37);
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    overflow: hidden;
    
    height: 40rem;
    width: 80rem;

    position: absolute;
    left: 50%;
    top: 60%;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    &__slides {
        // background-color: rgb(255, 255, 174);
        width: 500%;
        height: 40rem;

        position: absolute;
        left: 0;
        

        display: flex;
    }

    &__input {
        display: none;
    }

    &__slide {
        background: url("/img/quotation-d.png") no-repeat 2rem 2rem;
        background-color: rgba(255, 255, 255, 0.082);
        background-blend-mode: multiply;
        background-size: 35rem;
        width: 80rem;
        transition: 1s;
    }

    &__content-box {
        height: 40rem;
        width: 80rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    &__evaluator-box {
        // background-color: rgb(172, 255, 172);
        margin-top: 2rem;
        margin-right: 2rem;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__evaluator-name {
        font-size: 1.8rem;
        margin-right: 1.5rem;
        
    }

    &__evaluator-photo {
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        overflow: hidden;
        
        &--tatiane {
            background: url("/img/tatiane-d.jpeg");
            background-position: 0 -2rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        &--washington {
            background: url("/img/washington-d.jpeg");
            background-position: -2rem center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--abdala {
            // background: url("/img/tatiane-d.jpeg");
            background-position: 0 -2rem;
            background-size: cover;
        }
    }

    &__evaluator-photo {
        background-color: lightblue;
    }

    &__evaluator-evaluation-box {
        // background-color: rgb(255, 146, 164);
        width: 70%;
        margin: 3rem auto 0 auto;
        text-align: center;
    }

    &__evaluator-evaluation {
        font-size: 2.4rem;
        letter-spacing: 1.3px;
    }

    &__navigation-auto {
        position: absolute;
        width: 10rem;
        left: 10rem;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__auto-btn {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        border: 2px solid lightblue;

        &--1 {
            
        }
        &--2 {

        }
        &--3 {

        }
    }

    &__navigation-manual {
        position: absolute;
        width: 10rem;
        left: 10rem;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__manual-btn {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        border: 2px solid lightblue;
        transition: .5s;

        &:hover {
            cursor: pointer;
            background-color: lightblue;
        }
    }

}

#radio1:checked ~ .slider__slide--first {
    margin-left: 0%;
}

#radio2:checked ~ .slider__slide--first {
    margin-left: -20%;
}

#radio3:checked ~ .slider__slide--first {
    margin-left: -40%
}

#radio1:checked ~ .slider__navigation-auto .slider__auto-btn--1{
    background-color: #40D3DC;
}

#radio2:checked ~ .slider__navigation-auto .slider__auto-btn--2{
    background-color: #40D3DC;
}

#radio3:checked ~ .slider__navigation-auto .slider__auto-btn--3{
    background-color: #40D3DC;
}