.subheading {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    display: inline;

    & > span {
        position: relative;

        & > .underline.fade {
            width: 0%;
            height: .5rem;
            background-color: white;
            position: absolute;
            left: 0;
            bottom: 0;
            transition-property: all ;
            transition-timing-function: cubic-bezier(1, 0.04, 0.57, 1);
            transition-duration: .8s;
            transition-delay: .2s;
            transform-origin: left;

            &.in {
                width: 100%;
            }
        }
    }
}