*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: relative; }

body {
  background: #161515;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden; }

::selection {
  background-color: #d35c5c;
  color: #fff; }

::-webkit-scrollbar {
  background-color: transparent;
  width: 9px;
  z-index: -1; }
  ::-webkit-scrollbar.hidden {
    width: 0 !important; }
  ::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 999px;
    height: 10px; }
  ::-webkit-scrollbar-track {
    background-color: #222; }

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none; }
  .cursor--small {
    background-color: #eee;
    height: 1.2rem;
    width: 1.2rem;
    transition: transform 50ms, left 50ms, top 50ms, height 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53), width 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53); }
    .cursor--small.expand {
      height: 6rem;
      width: 6rem;
      background-color: black;
      mix-blend-mode: difference;
      backdrop-filter: invert(100%); }
      .cursor--small.expand + .cursor--big {
        opacity: 0;
        transition: transform 50ms, left 50ms, top 50ms, height 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53), width 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53), opacity 0.2s 0.5s; }
  .cursor--big {
    border: 1px solid #eee;
    height: 5rem;
    width: 5rem;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.375); }
  .cursor.hide--x {
    opacity: 0; }
  .cursor.hide--y {
    opacity: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4; }

.icon {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: #eee; }
  .icon--youtube {
    height: 3.1rem;
    width: 3.1rem; }

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
========================================== */
.evaluations {
  background-color: #000;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden; }
  .evaluations .swiper-container {
    height: 48rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent 80%, black);
    cursor: none !important; }
  .evaluations .swiper-slide {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    width: 32rem;
    height: 90%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    perspective: 9999px; }
  .evaluations .swiper-slide-shadow-left,
  .evaluations .swiper-slide-shadow-right {
    background-image: none; }
  .evaluations .card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #222;
    text-align: center;
    overflow: hidden;
    border-radius: 5px; }
  .evaluations .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(lightblue, white);
    z-index: 1;
    transition: .5s; }
  .evaluations .card:hover .layer {
    top: 0; }
  .evaluations .content {
    background-color: transparent;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .evaluations .content p {
      font-size: 18px;
      color: #eee;
      line-height: 24px;
      margin: 30px 0 30px 0;
      padding: .5rem; }
    .evaluations .content .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid grey;
      width: 100px;
      height: 100px; }
      .evaluations .content .img-box img {
        background: #87BDD3;
        width: 100%; }
        .evaluations .content .img-box img.tom {
          width: 150%; }
    .evaluations .content h2 {
      font-size: 18px;
      color: white; }
      .evaluations .content h2 span {
        color: lightblue;
        font-feature-settings: 14px;
        transition: .5s; }
  .evaluations .card:hover .content h2 span {
    color: blue; }
