*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: relative; }

body {
  background: #161515;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden; }

::selection {
  background-color: #d35c5c;
  color: #fff; }

::-webkit-scrollbar {
  background-color: transparent;
  width: 9px;
  z-index: -1; }
  ::-webkit-scrollbar.hidden {
    width: 0 !important; }
  ::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 999px;
    height: 10px; }
  ::-webkit-scrollbar-track {
    background-color: #222; }

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none; }
  .cursor--small {
    background-color: #eee;
    height: 1.2rem;
    width: 1.2rem;
    transition: transform 50ms, left 50ms, top 50ms, height 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53), width 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53); }
    .cursor--small.expand {
      height: 6rem;
      width: 6rem;
      background-color: black;
      mix-blend-mode: difference;
      backdrop-filter: invert(100%); }
      .cursor--small.expand + .cursor--big {
        opacity: 0;
        transition: transform 50ms, left 50ms, top 50ms, height 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53), width 0.7s cubic-bezier(0.75, -1.27, 0.3, 2.53), opacity 0.2s 0.5s; }
  .cursor--big {
    border: 1px solid #eee;
    height: 5rem;
    width: 5rem;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.375); }
  .cursor.hide--x {
    opacity: 0; }
  .cursor.hide--y {
    opacity: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4; }

.arrow-container {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center; }

.arrow {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: rotate(45deg); }

.dropdown__menu {
  display: none; }

.icon {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: #eee; }
  .icon--youtube {
    height: 3.3rem;
    width: 3.3rem;
    transform: translateY(2px); }

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
========================================== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  padding: 2rem;
  padding-left: 5rem;
  box-shadow: 0px 4px 20px #eeeeee07; }
  .nav__column {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav__column--left, .nav__column--right {
      width: 25rem; }
  .nav__link, .nav__link:link, .nav__link:visited {
    color: #eee;
    font-size: 1.9rem;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; }
  .nav__link--services {
    width: 13rem; }
  .nav__link--ag {
    font-size: 3rem !important;
    font-weight: 600 !important; }

.evaluations {
  background-color: #000;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden; }
  .evaluations .swiper-container {
    height: 48rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent 80%, black);
    cursor: none !important; }
  .evaluations .swiper-slide {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    width: 32rem;
    height: 90%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    perspective: 9999px; }
  .evaluations .swiper-slide-shadow-left,
  .evaluations .swiper-slide-shadow-right {
    background-image: none; }
  .evaluations .card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #222;
    text-align: center;
    overflow: hidden;
    border-radius: 5px; }
  .evaluations .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(lightblue, white);
    z-index: 1;
    transition: .5s; }
  .evaluations .card:hover .layer {
    top: 0; }
  .evaluations .content {
    background-color: transparent;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .evaluations .content p {
      font-size: 18px;
      color: #eee;
      line-height: 24px;
      margin: 30px 0 30px 0;
      padding: .5rem; }
    .evaluations .content .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid grey;
      width: 100px;
      height: 100px; }
      .evaluations .content .img-box img {
        background: #87BDD3;
        width: 100%; }
        .evaluations .content .img-box img.tom {
          width: 150%; }
    .evaluations .content h2 {
      font-size: 18px;
      color: white; }
      .evaluations .content h2 span {
        color: lightblue;
        font-feature-settings: 14px;
        transition: .5s; }
  .evaluations .card:hover .content h2 span {
    color: blue; }

.header {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header__content-box {
    height: 85vh;
    display: flex;
    flex-direction: column; }
  .header__introduction {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .header__img-box {
    background-color: #eee;
    height: 15rem;
    width: 15rem; }
  .header__contact-area {
    height: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__button-area {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .header__button {
    background-color: #ddd;
    border: 1px solid black;
    margin-top: 50px;
    height: 60px;
    width: 190px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .header__icons-area {
    width: 50%;
    height: 100%;
    position: relative; }
  .header__icons-box {
    position: absolute;
    width: 7rem;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
