.footer {
    background: var(--color-zero);

    // min-height: 61rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 6rem 8rem 2rem 6rem;
    
    display: none;

    @media only screen and (max-width: $second-breakpoint) {
        padding: 6rem 3rem 2rem 3rem;
    }

    &__links-area {
        // background-color: #fff;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        width: 100%;
    }

    // &__logo-box {
    // }

    &__logo {
        width: 21rem;

        @media only screen and (max-width: $first-breakpoint) {
            width: 16rem;
        }

        @media only screen and (max-width: $second-breakpoint) {
            width: 19rem;
        }
    }

    &__enterprise-about {
        color: var(--color-secondary-opposite);
        font-weight: var(--font-weight);
        font-size: 1.5rem;
        letter-spacing: 2px;
        
        margin-top: 2rem;
        
        max-width: 35rem;
        
        @media only screen and (max-width: $first-breakpoint) {
            max-width: 33rem;
            font-size: 1.3rem;
        }
        
        @media only screen and (max-width: $second-breakpoint) {
            max-width: 33rem;
            font-size: 1.3rem;
        }
    }
    
    // &__row {
        
        // }
        
    &__list-box {
        // background-color: lightgreen;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        
        &--about {
            height: 28rem;
        }
        
        // width: 12%;
        
        // &:first-child {
        //     background-color: aliceblue;
        //     width: 15%;
        // }

        // &:nth-child(5) {
            //     width: 10%;
        // }
                
        // &--about {
            // align-items: center;
        // }

        }
                    
    &__list-heading {
        color: var(--color-zero-opposite);
        font-size: 1.6rem;
        text-transform: uppercase;
        
        margin-bottom: 3rem;
        
        // @media only screen and (max-width: $first-breakpoint) {
        //     font-size: 1.5rem;
        // }
        
        // @media only screen and (max-width: $second-breakpoint) {
        //     font-size: 1.8rem;
        // }
    }
    
    &__list {
        display: flex;
        flex-direction: column;

        list-style-type: none;
    }
    
    &__list-item {
        :not(:last-child) {
            margin-bottom: 3rem;
        }

        display: inline-block;
    }
    
    &__link {
        &,
        &:link,
        &:visited {
            color: var(--color-secondary-opposite);
            font-size: 1.3rem;
            line-height: 10px;
            font-weight: var(--font-weight);
            
            display: inline-block;
            
            @media only screen and (max-width: 1045px) {
                font-size: 1.4rem;
            }

            @media only screen and (max-width: 950px) {
                font-size: 1.2rem;
            }

            @media only screen and (max-width: 865px) {
                font-size: 1.1rem;
            }

            @media only screen and (max-width: 825px) {
                font-size: 1.3rem;
            }

            // @media only screen and (max-width: 910px) {
            //     font-size: 1.1rem;
            // }

            // @media only screen and (max-width: $first-breakpoint) {
            //     // font-size: 1.3rem;
            // }

            // @media only screen and (max-width: $second-breakpoint) {
            //     font-size: 1.5rem;
            // }
        }

        &.link {
            &::before {
                bottom: 20px;
            }
        }
    }
    
    &__not-link {
        text-transform: uppercase;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        svg {
            fill: red;
            
            height: 1.3rem;
            width:  1.3rem;
            
            margin-right: .7rem;
        }
        
        &--1 {
            margin-top: -.1rem;
        }
        &--2 {
            margin-top: 2.7rem;
        }
    }
    
    &__copyright-area {
        // background-color: #0005;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 3rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        
        position: relative;
        
        width: 100%;
        
        &::before {
            content: '';
            background-color: #222;
            border-radius: 999px;
            
            height: .1rem;
            width:  100%;
            
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__copyright-box {
        color: var(--color-secondary-opposite);

        font-size: 1.5rem;
        margin-top: 1.1rem;
        text-align: left;
        font-weight: var(--font-weight);
    }
    
    &__social-medias-box {
        // background-color: #d6d6d6;
        // width: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        transform: translateY(4px);

        :not(:last-child) {
            margin-right: 0rem;
        }
    }

    &__social-media {
        background-color: transparent;
        border-radius: 0px;
        
        height: 5.5rem;
        width:  5.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            height: 2.3rem !important;
            width:  2.3rem !important;
            fill: var(--color-zero-opposite);

        }
        
        &:hover {
            background-color: var(--color-transparent-opposite-1);
        }
    }
}

// ~ FOOTER MOBILE

.footer-mobile {
    background: var(--color-zero);

    // min-height: 61rem;
    height: auto;

    min-height: 120rem;

    padding: 5rem 20px 0 20px;

    &__links-area {

    }

    &__links-box {
        // background-color: #f3a5a5;
        // color: white;
        cursor: pointer;

        // padding: 0 25px;

        padding: 2rem 0;

        height: 9rem;
        overflow: hidden;

        transition: .6s ease !important;

        &.active {
            height: 55em;
        }

        &__header {
            // background-color: lightblue;

            display: flex;
            justify-content: space-between;
        }

        &__heading {
            color: var(--color-primary-opposite);
            font-size: 3rem;
            letter-spacing: 3px;
            font-weight: 1000;
        }

        &__arrow-box {
            // background-color: red;
            height:     20px;
            width:      20px;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s !important;
            transform: rotateZ(135deg) translateY(0px);
        }
        
        &.active &__arrow-box {
            transform: rotateZ(315deg) translateY(0px);
        }

        &__arrow {
            border-top:     2px solid var(--color-primary-opposite);
            border-right:   2px solid var(--color-primary-opposite);

            height: 1.4rem;
            width:  1.4rem;
        }


        &__links-box {
            // background-color: lightgreen;
        }

        &__link-box {
            padding: 3rem 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            &:first-of-type {
                // background-color: #fff;
                margin-top: -5px;
            }
        }

        &__link-icon {
            fill: red;
        }

        &__link {
            &,
            &:link,
            &:visited {
                border: 1px solid red;
                color: var(--color-tertiary-opposite) !important;
                font-size: 2.1rem;
                font-weight: 1000;
                transform: translateY(-27px);
            }
        }
    }


}