.footer {
    background: #000;

    min-height: 61rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 6rem 8rem 3rem 6rem;
    
    @media only screen and (max-width: $second-breakpoint) {
        padding: 6rem 3rem 3rem 3rem;
    }

    &__links-area {
        // background-color: #fff;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        width: 100%;
    }

    // &__logo-box {
    // }

    &__logo {
        width: 18rem;
        
        @media only screen and (max-width: $first-breakpoint) {
            width: 16rem;
        }

        @media only screen and (max-width: $second-breakpoint) {
            width: 19rem;
        }
    }

    &__enterprise-about {
        color: #ccc;
        font-weight: 100;
        font-size: 1.5rem;
        letter-spacing: 2px;

        margin-top: 2rem;

        max-width: 35rem;
        
        @media only screen and (max-width: $first-breakpoint) {
            max-width: 33rem;
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $second-breakpoint) {
            max-width: 33rem;
            font-size: 1.3rem;
        }
    }

    // &__row {
        
    // }
    
    &__list-box {
        // background-color: lightgreen;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        // width: 12%;
        
        // &:first-child {
            //     background-color: aliceblue;
            //     width: 15%;
            // }
            // &:nth-child(5) {
                //     width: 10%;
                // }
                
        // &--about {
            // align-items: center;
        // }
    }

    &__list-heading {
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase;

        margin-bottom: 3rem;

        @media only screen and (max-width: $first-breakpoint) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width: $second-breakpoint) {
            font-size: 1.8rem;
        }
    }
    
    &__list {
        display: flex;
        flex-direction: column;

        list-style-type: none;
    }

    &__list-item {
        :not(:last-child) {
            margin-bottom: 3rem;
        }

        display: inline-block;
    }
    
    &__link {
        &,
        &:link,
        &:visited {
            color: #ccc !important;
            font-size: 1.3rem;
            line-height: 10px;
            
            display: inline-block;
            
            @media only screen and (max-width: $first-breakpoint) {
                font-size: 1.1rem;
            }

            @media only screen and (max-width: $second-breakpoint) {
                font-size: 1.3rem;
            }
        }

        &.link {
            &::before {
                bottom: 20px;
            }
        }
    }

    &__not-link {
        text-transform: uppercase;
        
        &--1 {
            margin-top: -.2rem;
        }
        &--2 {
            margin-top: 3.2rem;
        }
    }

    &__copyright-area {
        // background-color: #0005;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 5rem;
        padding-top: 40px;
        padding-bottom: 1rem;

        position: relative;

        width: 100%;

        &::before {
            content: '';
            background-color: #222;
            border-radius: 999px;

            height: 1px;
            width:  100%;

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__copyright-box {
        color: #EEE;
        font-size: 1.5rem;
        margin-top: 1.1rem;
        text-align: left;
    }
    
    &__social-medias-box {
        // background-color: #d6d6d6;
        // width: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        transform: translateY(4px);

        :not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__social-media {
        background-color: #2225;
        border-radius: 3px;
        
        height: 5.5rem;
        width:  5.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            height: 2.3rem !important;
            width:  2.3rem !important;
            fill: #fff;
        }
        
        &:hover {
            background-color: rgba(53, 51, 51, 0.467);
        }
    }
}