.toggle-menu {
    // position: absolute;
    // height: 100vh;
    // width: 100vw;
    
    &__checkbox {
        display: none;
        
        &:checked ~ .toggle-menu__button-box .toggle-menu__icon {
            background-color: red;

            transition: background-color .5s cubic-bezier(0.97, 0.12, 0.7, 1.5),
            width .3s .5s cubic-bezier(0, 0.8, 0.9, 1),
            margin-bottom .3s .1s,
            transform .3s .4s;

            &--1 {
                margin-bottom: -1px;
                transform: rotate(45deg);
            }
            
            &--2 {
                width: 100%;
                transform: rotate(-45deg);
            }
        }

        &:checked ~ .toggle-menu__button-box .toggle-menu__button-background {
            transform: translate(50%, -50%) scale(1);
        }
        
        &:checked ~ .toggle-menu__background-box .toggle-menu__background {
            transform: scale(45);
        } 

        &:checked ~ .toggle-menu__nav {
            display: flex;
        }
        
        &:checked ~ .toggle-menu__nav .toggle-menu__list-box,
        &:checked ~ .toggle-menu__nav .toggle-menu__icons-box {
            opacity: 1;
            transition: opacity.5s .3s;
        }

        &:checked ~ .toggle-menu__nav {
            left: 0;
            transition: left 0s 0s;
        }
    }

    &__button-box {        
        position: relative;
    }

    &__button {
        height: 2.5rem;
        width: 7.5rem;

        position: relative;
        bottom: -3px;

        display: inline-block;

        z-index: 4;

        &:hover {
            cursor: pointer;
        }

        &:hover .toggle-menu__button-background {
        transform: translate(50%, -50%) scale(1);
        }

        &:hover .toggle-menu__icon {
            background-color: #eee;

            &--2 {
                width: 100%;
            }
        }
    }

    &__button-background {
        // background: #eee;
        border-radius: 999px;

        position: absolute;
        top: -.5rem;
        left: -21rem;
        transform: translate(50%, -50%) scale(0);

        height: 21rem;
        width: 21rem;

        z-index: -1;
        transition: all .5s cubic-bezier(0.97, 0.12, 0.7, 1.5);
    }

    &__icon-box {
        width: 60%;
        height: 50%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    &__icon {
        background-color: #aaa;
        border-radius: 999px;
        height: 2px;

        transform: rotate(0);
        
        transition: background-color .5s cubic-bezier(0.97, 0.12, 0.7, 1.5),
                    width .3s .7s cubic-bezier(0, 0.8, 0.9, 1),
                    margin-bottom .3s .4s,
                    transform .3s .1s;
        
        &--1 {
            margin-bottom: 8px;
            width: 100%;
        }
        
        &--2 {
            width: 80%;
        }
    }

    &__background-box {
        position: absolute;
        right: 3.70rem;
        top: 3.25rem;
 
        width: 7.5rem;
        height: 7.5rem;
    }

    &__background {
        backdrop-filter: blur(.4px);
        border-radius: 50%;

        height: 7rem;
        width: 7rem;
        
        position: fixed;
        
        transform: scale(0);
        transition: all .8s ease;
        z-index: 2;
        
        // &--1 {

        // }
        
        &--2 {
            transition-delay: 1s;
        }
    }

    &__nav {
        position: fixed;
        
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        
        width: 100%;
        height: 100%;
        z-index: 3;   

        left: -9999999999px;
        transition: left 0s .8s;
        // background-color: #aaa;
    }
    
    &__list-box {
        // background-color: #fff;
        top: -6rem;
        position: relative;

        text-align: center;

        opacity: 0;
        
        transition: opacity .5s .1s;

        // &--services {

        // }

        // &--see-also {
            
        // }
    }
    
    
    &__heading-box {
    }
    
    &__heading {
        font-family: 'bison', sans-serif;
        font-weight: 900;
        font-size: 11rem;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        color: #eee; 
        text-transform: uppercase;  
    }
    
    &__list {
        // background-color: #fff;
        height: 60vh;
        list-style: none;
        text-align: left;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        // &--services {

        // }
        
        // &--see-also {
            
        // }
        // text-align: right;
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            font-size: 2.4rem;
            color: #eee;
            text-decoration: none;

            position: relative;

            &::before {
                content: "";
                background-color: #eee;
                border-radius: 999px;
                
                position: absolute;
                bottom: -1rem;
                
                width: 4rem;
                height: 3px;

                transition: all .5s;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }

    &__icons-box {
        position: absolute;
        bottom: 9rem;
        left: 5.8rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 14rem;
        z-index: 3;

        opacity: 0;
        transition: opacity.5s .1s;
    }
}