.nav {
    box-shadow: 0px 2px 7px #000; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
  
    padding: 2rem;
    padding-left: 5rem;

    position: relative;

    &__column {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left,
        &--right {
            width: 32rem;
        }

        // &--left {
        //     background-color: #fff;
        // }

        &--center {
            position: relative;
            left: -15px;
        }

        // &--right {
        //     background-color: #ff0050;
        // }
    }

    // &__item {
    // }

    &__link {
        &,
        &:link,
        &:visited {
            color: var(--color-secondary-opposite);
            font-size: 1.4rem;
            font-family: 'nunito-regular';
            font-weight: var(--font-weight);
            letter-spacing: 5px;
            text-transform: uppercase;
            text-decoration: none;
            
            display: inline-block;

            position: relative;  
        }

        &--services {
            width: 13rem;
        }

        &--brand {
            &--text {
                font-size: 3rem !important;
                font-family: 'nunito-extraLight';
                font-weight: 9999 !important;
    
                position: relative;
    
                &::before {
                    content: "";
    
                    background-color: currentColor;
                    border-radius: 50%;
    
                    height: .7rem;
                    width: .7rem;
    
                    position: absolute;
                    bottom: 11px;
                    right: -7px;
                }
            }

            &--img {
                background: var(--background-img-header) no-repeat center;
                background-size: 84%;
                
                height: 5rem;
                width: 13rem;
            }
        }
    }

    // &__link-text {

    // }

    // &__link-arrow-box {
        
    // }
}