.navigation {
    position: absolute;
    height: 100vh;
    width: 100vw;
    
    &__checkbox {
        display: none;
        
        &:checked ~ .navigation__button-box .navigation__icon {
            background-color: $background-color-navigation-icon-interaction;

            transition: background-color .5s cubic-bezier(0.97, 0.12, 0.7, 1.5),
            width .3s .5s cubic-bezier(0, 0.8, 0.9, 1),
            margin-bottom .3s .1s,
            transform .3s .4s;

            &--1 {
                margin-bottom: -1px;
                transform: rotate(45deg);
            }
            
            &--2 {
                width: 100%;
                transform: rotate(-45deg);
            }
        }

        &:checked ~ .navigation__button-box .navigation__button-background {
            transform: translate(50%, -50%) scale(1);
        }
        
        &:checked ~ .navigation__background-box .navigation__background {
            transform: scale(45);
        } 

        &:checked ~ .navigation__nav {
            display: flex;
        }
        
        &:checked ~ .navigation__nav .navigation__list-box,
        &:checked ~ .navigation__nav .navigation__icons-box {
            opacity: 1;
            transition: opacity.5s .3s;
        }

        &:checked ~ .navigation__nav {
            left: 0;
            transition: left 0s 0s;
        }
    }

    &__button-box {        
        position: absolute;
        right: 4rem;
        top: 3rem;
        
        height: 7.5rem;
        width: 7.5rem;
    }
    
    &__button {
        border-radius: 50%;
        height: 7.5rem;
        width: 7.5rem;

        position: fixed;

        display: inline-block;

        overflow: hidden;
        z-index: 4;

        &:hover {
            cursor: pointer;
        }

        &:hover .navigation__button-background {
        transform: translate(50%, -50%) scale(1);
        }

        &:hover .navigation__icon {
            background-color: $background-color-navigation-icon-interaction;

            &--2 {
                width: 100%;
            }
        }
    }

    &__button-background {
        background: $background-color-navigation-button;
        border-radius: 999px;

        position: absolute;
        top: -.5rem;
        right: -.5rem;
        transform: translate(50%, -50%) scale(0);

        height: 20rem;
        width: 20rem;

        z-index: -1;
        transition: all .5s cubic-bezier(0.97, 0.12, 0.7, 1.5);
    }

    &__icon-box {
        width: 60%;
        height: 50%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    &__icon {
        background-color: $background-color-navigation-icon-interaction;
        border-radius: 999px;
        height: 2px;

        transform: rotate(0);
        
        transition: background-color .5s cubic-bezier(0.97, 0.12, 0.7, 1.5),
                    width .3s .7s cubic-bezier(0, 0.8, 0.9, 1),
                    margin-bottom .3s .4s,
                    transform .3s .1s;
        
        &--1 {
            margin-bottom: 8px;
            width: 100%;
        }
        
        &--2 {
            width: 80%;
        }
    }

    &__background-box {
        position: absolute;
        right: 3.70rem;
        top: 3.25rem;
 
        width: 7.5rem;
        height: 7.5rem;
    }

    &__background {
        backdrop-filter: blur(.3px);
        border-radius: 50%;

        height: 7rem;
        width: 7rem;
        
        position: fixed;
        
        transform: scale(0);
        transition: all .8s ease;
        z-index: 2;
        
        // &--1 {

        // }
        
        &--2 {
            transition-delay: 1s;
        }
    }

    &__nav {
        position: fixed;
        
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        
        width: 90%;
        height: 100%;
        z-index: 3;   

        left: -9999999999px;
        transition: left 0s .8s;
    }
    
    &__list-box {
        text-align: center;

        opacity: 0;
        
        transition: opacity .5s .1s;

        // &--services {

        // }

        // &--see-also {
            
        // }
    }
    
    
    &__heading-box {
        margin-top: 2rem 0 1rem 0;
    }
    
    &__heading {
        font-family: 'bison', sans-serif;
        font-weight: 900;
        font-size: 10rem;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        color: $color-text-light-2; 
        text-transform: uppercase;  
    }
    
    &__list {
        list-style: none;
        text-align: left;
        
        // &--services {

        // }
        
        // &--see-also {
            
        // }
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            font-size: 3.5rem;
            color: $color-text-light-2;
            text-decoration: none;

            position: relative;

            &::before {
                content: "";
                background-color: $background-color-before-navigation-link;
                border-radius: 999px;
                
                position: absolute;
                bottom: -1rem;
                
                width: 4rem;
                height: 3px;

                transition: all .5s;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }

    &__icons-box {
        position: absolute;
        bottom: 4rem;
        left: 9.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 11rem;
        z-index: 3;

        opacity: 0;
        transition: opacity.5s .1s;
    }
}