.nav-mobile {
    background-color: var(--color-secondary);
    box-shadow: 0px 2px 7px #000; 
    
    display: none;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
    
    min-width: 265px;

    padding: 1.4rem 2rem;
    
    // margin-bottom: 2rem;

    @media screen and (max-width: 34em) {
    --navigation-width: 11.5rem;
    }

    position: fixed;
    top: 0;
    height: var(--navigation-width);
    width: 100%;    
    
    
    z-index: 8;
    
    transition: top .3s linear,
                background-color .2s ease-out !important;
    
    @media screen and (max-width: 39em) {
        display: flex;
    }
    
    &__substitute {
        background-color: var(--color-primary);
        height: var(--navigation-width);
    }
    
    &__column {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left,
        &--right {
            // border: 1px solid red;
            width: 30rem;
        }

        &--right {
            display: flex;
            justify-content: flex-end;
            padding-right: 3px;
        }

        // &--left {
        //     background-color: #fff;
        // }

        &--center {
            // border: 1px solid red;
            position: relative;
        }

        // &--right {
        //     background-color: #ff0050;
        // }
    }

    &__item {
        // background-color: #fff;
        position: relative;

        
        &--toggle-menu {
            height: 3rem;
            width:  3rem;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            color: var(--color-secondary-opposite);
            font-size: 1.2rem;
            font-family: 'nunito-regular';
            font-weight: var(--font-weight);
            letter-spacing: 5px;
            text-transform: uppercase;
            text-decoration: none;
            
            display: inline-block;

            position: relative;  
        }

        &--services {
            position: relative;
            right: -30px;
        }

        &--brand {
            &--text {
                font-size: 3rem !important;
                font-family: 'nunito-extraLight';
                font-weight: 9999 !important;
    
                position: relative;
    
                &::before {
                    content: "";
    
                    background-color: currentColor;
                    border-radius: 50%;
    
                    height: .7rem;
                    width: .7rem;
    
                    position: absolute;
                    bottom: 11px;
                    right: -7px;
                }
            }

            &--img {
                // background: var(--bg-img-logo) no-repeat center;
                // background-size: 84%;
                
                // height: 7rem;
                width: 17rem;
                
                @media only screen and (max-width: $fourth-breakpoint) {
                    display: none;
                    width: 120px;
                }

                img {
                    width: 95px;
                }
            }
        }
    }

    // &__link-text {

    // }

    // &__link-arrow-box {
        
    // }
}