.toggle-menu-mobile {
    width: 100vw;
    height: 0vh;
    // min-height: 579px;
    // max-height: 590px;
    overflow-y: visible;
    position: relative;
    bottom: -4px;
    z-index: 1;
    
    transition: height 0s .5s;
    
    &.active {
        height: 100vh;
        min-height: 579px;
    }

    &.active &__headings-box,
    &.active &__content {

        // left: -12px;
    }
    
    &.active &__headings-box,
    &.active &__content,
    &.active &__footer {
        transition: opacity .2s .3s,
                    left 0s 0s !important;

        left: -12px;
    }

    &__background {
        position: absolute;
        top: -46px;
        left: -30px;
        border-radius: 999px;
        z-index: -1;
        background-color: var(--color-zero);
        height: 100px;
        width:  100px;
        opacity: 0;
        transition: transform 1.5s -.5s cubic-bezier(0.68, -0.10, 0.265, 1.25),
        opacity .1s .9s ease !important;
        transform: scale(.2);
        
    }
    
        &.active &__background {
            opacity: 1;
            
            transition: transform .8s cubic-bezier(0.68, -0.10, 0.265, 1.25),
                        opacity .2s .1s ease !important;
            transform: scale(30);
    }

    &__header {
        width: 0;
    }

    
    &__headings-box {
        // background-color: #00f;
        border-bottom: 1px solid #222;
        position: relative;
        left: -9999px;
        width: 100vw;
        bottom: -35px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        // padding-bottom: 20px;

        // display: none;

        transition: opacity .2s 0s,
                    left 0s .3s !important;

        opacity: 0;
        
        &::before {
            content: "";
            
            background-color: red;
            
            position: absolute;
            bottom: -1px;
            left: 0;
            
            transition: .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            
            height: 1px;
            width: 50%;
            
        }
        
        &.right::before {
            left: 50%;
        }
    }
    
    &.active &__headings-box {
        display: flex;
        opacity: 1;
    }

    &__heading {
        font-size: 3rem;
        // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        // border: 1px solid red;
        display: block;
        padding: 5px 5px 20px 5px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        letter-spacing: 5px;
        text-transform: capitalize;
        font-weight: 100 !important;
        color: var(--color-tertiary);
        
        &.active {
            color: var(--color-primary-opposite);
        }
    }
    
    &__button {
        background-color: transparent;
        border: none;
        // border: 1px solid red;
        outline: none;

        cursor: pointer;

        height: 1.4rem;
        width:  7rem;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        z-index: 0;
    }
    
    &__line {
        display: block;
        height: 1px;
        background-color: var(--color-primary-opposite);
        border-radius: 999px;
        
        transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
        
        &--1 {
            margin-bottom: 2px;
            width: 100%;
        }
        
        &--2 {
            width: 80%;
        }
    }
    
    &.active &__line {
        background-color: red;
        
        &--1 {
            transform: rotateZ(134deg) translateY(-3px) translateX(3px);
            // background-color: blue;
        }
        
        &--2 {
            transform: rotateZ(-135deg) translateY(2px) translateX(2px);
            width: 100%;
        }
    }
    
    &__content {
        // background-color: #fff;
        // display: none;
        position: relative;
        left: -9999px;
        bottom: -35px;
        
        padding: 30px 0 0 15px;
        
        transition: opacity .2s 0s,
                    left 0s .3s !important;

        opacity: 0;
    }
    
    &.active &__content {
        opacity: 1;
    }

    &__list {
        
        
        &--services {
            display: none;   
        }
        
        &--explore {
            display: none;   
        }
        
        &.active {
            display: block;   
        }
        
    }

    &__item {
        display: block;
        // font-size: 5rem;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        
        font-size: 2.5rem;
        // background-color: #f00;
        
    }
    
    &__link {
        &,
        &:link,
        &:visited {
            color: var(--color-secondary-opposite);
        }
    }

    
    &__footer {
        // display: none;
        border-top: 1px solid #222;
        position: absolute;
        bottom: 30px;
        width: 100%;
        transform: translateY(-24%);
        left: -9999px;
        // bottom: -95px;

        height: 101px;

        display: flex;
        justify-content: space-between;
        // background-color: #fff;
        align-items: center;
        
        padding: 0 15px;
    
        transition: opacity .2s 0s,
                    left 0s .3s !important;

        opacity: 0;
    }
    
    &.active &__footer {
        opacity: 1;
    }

    &__copyright {
        font-size: 1.8rem;
    }
    
    &__social-medias-box {
        :not(:last-child) {
            margin-right: 15px
        }
    }

    &__social-media {
        &,
        &:link,
        &:visited {
            text-decoration: none;
        }

    }
    
    &__icon {
        height: 2.8rem;
        width:  2.8rem;
        fill: var(--color-secondary-opposite);
    }
}