.toggle-menu {
    position: fixed;
    top: 6.4rem;

    height: 10rem;
    width: 10rem;

    // transform: translateY(-2px);

    z-index: 8;

    transition: top .3s linear !important;

    &__checkbox {
        display: none;

        &.checked ~ {
        
            & .toggle-menu__button-box .toggle-menu__icon {
                background-color: red;

                &--1 {
                    margin-bottom: -1px;
                    transform: translate(0px, 1px) rotate(135deg);

                }
                
                &--2 {
                    width: 100%;
                    transform: translate(-0px, 0px) rotate(-135deg);
                }
            }

            & .toggle-menu__button-box .toggle-menu__button-background {
                transform: translate(50%, -50%) scale(1);
            }
            
            & .toggle-menu__background-box .toggle-menu__background {
                transform: scale(48);
            } 

            & .toggle-menu__nav {
                display: flex;
            }
            
            & .toggle-menu__nav .toggle-menu__list-box,
            & .toggle-menu__nav .toggle-menu__icons-box {
                opacity: 1;
                transition: opacity .5s .3s !important;
            }
            
            & .toggle-menu__nav {
                left: 0;
                transition: left 0s 0s !important;
            }
        }
    }

    &__button-box {        
        position: absolute;
        top: -1.2rem;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;

        cursor: pointer;

        transition: top .3s linear !important;
    }

    &__button {

        height: 28px;
        width:  75px;
        
        @media only screen and (max-width: $fourth-breakpoint) {
            height: 25px;
            width:  58px;
        }

        position: relative;
        bottom: -3px;

        display: inline-block;

        z-index: 4;

        &:hover .toggle-menu__button-background {
            transform: translate(50%, -50%) scale(1);
        }
    }

    &__background-box {
        pointer-events: none;
    }

    &__button-background {
        border-radius: 999px;

        position: absolute;
        top: -.5rem;
        left: -21rem;
        transform: translate(50%, -50%) scale(0);

        height: 21rem;
        width: 21rem;
        
        z-index: -1;
        transition: all .5s cubic-bezier(0.97, 0.12, 0.7, 1.5) !important;
    }

    &__icon-box {
        cursor: pointer;
        width: 65%;
        height: 50%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &:hover .toggle-menu__icon {
            &--2 {
                width: 100%;
            }
        }
    }
    
    &__icon {
        background-color: var(--color-secondary-opposite);
        border-radius: 999px;
        
        height: 1px;

        transform: rotate(0);

        
        transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
        
        &--1 {
            margin-bottom: 8px;
            width: 100%;
        }
        
        &--2 {
            width: 80%;
        }
    }

    &__background-box {
        position: absolute;

        left: .2rem;
        top: -1.9rem;
 
        width: 7.5rem;
        height: 7.5rem;
    }

    &__background {
        backdrop-filter: blur(var(--menu-background-blur));
        background-color: var(--bg-color-menu);
        border-radius: 50%;

        height: 7rem;
        width: 7rem;
        
        position: relative;
        
        transform: scale(0);
        transition: all .8s ease !important;
        z-index: 2;
        
        // &--1 {

        // }
        
        &--2 {
            transition-delay: 1s !important;
        }
    }

    &__nav {
        position: absolute;
        
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        
        width: 100vw;
        height: 100vh;
        z-index: 3;   

        left: -9999px;
        transition: left 0s .8s !important;
        // background-color: #aaa;
    }
    
    &__list-box {
        left: -3rem;
        top: -5rem;
        position: relative;

        text-align: center;

        opacity: 0;
        
        transition: opacity .5s .1s !important;

        // &--services {

        // }

        // &--see-also {
            
        // }
    }
    
    
    // &__heading-box {
    // }
    
    &__heading {
        font-family: 'bison', sans-serif;
        font-weight: 900;
        font-size: 9rem;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        color: var(--color-primary-opposite); 
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    
    &__list {
        height: 60vh;
        list-style: none;
        text-align: left;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        // &--services {

        // }
        
        // &--see-also {
            
        // }
        // text-align: right;
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            font-size: 2.4rem;
            color: var(--color-secondary-opposite);
            text-decoration: none;

            position: relative;

        }
    }

    &__icons-box {
        // background-color: #fff;
        position: absolute;
        bottom: 9rem;
        right: 8rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 13rem;

        opacity: 0;
        transition: opacity 180ms 0s ease-out !important;
    }
}