.header {
    height: $height-header;
    position: relative;

    &--img {
        background: $linear-gradient-dark-1,
                    url("/img/panel-1.jpg");
        background-size: cover;
        background-position: center;
                    
    }

    &--video {
        background: linear-gradient(
        145deg, 
        rgba(0, 0, 0, 0.7) 25%,
        rgba(60,60,71,0.7) 75%);
        background-size: cover;
        background-position: center;
    }

    &__logo-box {
        position: absolute;
        top: 6.5rem;
        left: 12rem;
        transform: translate(-50%);
    }

    &__logo {
        width: 16rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__scroll-down-indicative-box--1 {
        width: 3.2rem;
        height: 6rem;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 500;
    }
    
    &__scroll-down-indicative--1 {
        border: 2px solid white;
        border-radius: 999px;
        height: 6rem;
        width: 3.2rem;
        position: relative;
    }
    
    &__scroll-down-indicative--1::before {
        animation: scroll-down infinite 1.5s;
        content: "";
        position: absolute;
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        background-color: white;
        top: 50%;
        left: 50%;
    }

    &__scroll-down-indicative-box--2 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    &__scroll-down-indicative--2 {
        animation: flag-down-up infinite 1.2s ease;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        height: 3rem;
        width: 3rem;
        transform: rotate(45deg);
    }

}