*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
}

body {
    background: $background-color-body;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

::selection {
    background-color: rgb(64, 129, 189);
    color: white;
}