*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
}

body {
    background: black;
    box-sizing: border-box;

    position: relative;

    overflow-x: hidden;
}

section.blur {
    filter: blur(2px);
}

::selection {
    background-color: rgb(64, 129, 189);
    color: white;
}