.heading-primary {
    color: $color-text-light;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    
    &--main {
        letter-spacing: 1.4rem;
        font-weight: 100;
        font-size: 6rem;
    }
    
    &--sub {
        font-weight: 400;
        letter-spacing: .4rem;
        font-size: 2rem;
    }
}

.btn {
    &:link,
    &:visited {
        letter-spacing: .15rem;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-text-light;
    }
}

.subheading {
    color: $color-subheading;
    font-size: 5rem;
    font-family: inherit;
    text-shadow: $text-shadow;
    text-align: center;
}

.tertiary-header {
    color: $color-text-light;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: $text-shadow;
}