.contact {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__header {
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__subheading {
        text-transform: uppercase;
    }

    &__heading {

    }
    
    &__instruction-text {
        color: blue;
    }

    &__content-box {
        background-color: lightgreen;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
    
    &__form-box {
        background-color: #fff;

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    &__form {
        background-color: orangered;

        &__img-box {

        }
        
        &__img {

        }
        
        &__row {

        }
        
        &__hint {

        }
        
        &__select {

        }
        
        &__option {

        }
        
        &__button {

        }
    }

    &__img-box {
        background-color: pink;
    }

    &__img {
        height: auto;
        width:  30rem;
    }

    &__additional-informations-box {
        background-color: wheat;

        height: 20vh;
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__additional-information {
        background-color: #222;
        height: 10rem;
        width:  10rem;
        &__img-box {

        } 

        &__img {

        }
        
        &__text-box {

        } 

        &__heading {

        }

        &__text {

        }
    }
}