.test {
    background-color: #abc354;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default !important;
}

.cursor--grab {
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;

    cursor: default !important;
    background-color: #eee;
    border-radius: 50%;

    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 70px;
    height: 70px;

    transform: translate(-50%, -110%);

    z-index: 2;
    &::before, &::after {
        content: "";
        // border: 1px solid #eee;
        width: 38px;
        height: 38px;
        background: linear-gradient(to right bottom, transparent 50%, #111 50%);

        position: absolute;
        // z-index: 100;
    }

    &::before {
        left: -6px;
        transform: rotate(135deg);
    }
    
    &::after {
        right: -6px;
        transform: rotate(-45deg);
    }

    .pseudo-internal-overflox-hidden {
        position: absolute;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}