.test {
    background-color: #abc354;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab !important;
}

.container {
    width: 60rem;
    height: 20rem;
    border: 2px black solid;

    overflow-y: grab;

    p {
        font-size: 2rem;
    }
}