html[current-theme='light'] {
    // BODY
    --bg-color-body: var(--color-light-2);
    --color-main-heading: var(--color-dark-2);
    
    // HEADER
        
        --bg-color-contact-button: var(--color-dark-2);
        --bg-color-explore-before: var(--color-dark-3);
        --bg-color-header: var(--color-light-2);
        --box-shadow-contact-button: 5px  5px 11px #000000,
                                    -5px -5px 11px #ffffff10;
        --box-shadow-contact-button-interaction: 2px  2px 2px #0000009a,
                                                -2px -2px 5px #ffffff17;

        --box-shadow-icon-box:  3px  3px 6px #000, 
                               -3px -3px 6px #4d4e551f;

        --box-shadow-icon-box-interaction:  inset  2px  2px 5px #000, 
                                            inset -3px -3px 7px #4d4e551f;

        --box-shadow-img: 3px  3px 4px #000000,
        -3px -3px 4px #ffffff0c;
        --color-border: #c7d1d4;
        --color-contact-button-text: var(--color-light-1);
        --color-explore: var(--color-dark-1);
        --color-flowing-text: var(--color-dark-5);
        --color-icon: var(--color-dark-3);
        --color-link: var(--color-dark-2);

        //NAVIGATION

        // MENU
        --bg-color-icon-interaction: var(--color-dark-2);
        --bg-color-icon: var(--color-dark-2);
        --bg-color-menu-bg: #ffffff10;
        --menu-background-blur: 2.4px;
            --color-menu-heading: var(--color-dark-1);
            --color-menu-link: var(--color-dark-1);
}